<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <style>
        th,td {padding:15px;}
        td{
            text-align: center;

        }
    </style>
    <meta charset="UTF-8">
    <title>승인 대기회원</title>
</head>
<body>
<table>
    <thead>
    <th>이름</th>
    <th>이메일</th>
    <th>전화번호</th>
    <th>학과</th>
    <th>재고관리권한</th>
    <th>사원관리권한</th>

    </thead>
    <tbody>
    <tr th:each="worker:${companyWorker}">
        <td th:text="${worker.getName()}"></td>
        <td th:text="${worker.getEmail()}"></td>
        <td th:text="${worker.getPhone()}"></td>
        <td th:text="${worker.getDepartment()}"></td>
        <td ><input type="button" th:value="권한승인"></td>
        <td ><input type="button" th:value="권한승인"></td>

    </tr>
    </tbody>
</table>

</body>
</html>