<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        th,td {padding:15px;}
        td{
            text-align: center;

        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content"  class="content">


<table class="table pimcs-table">
    <thead>
    <th scope="col" class="text-center">이름</th>
    <th scope="col" class="text-center">이메일</th>
    <th scope="col" class="text-center">전화번호</th>
    <th scope="col" class="text-center">부서</th>
    <th scope="col" class="text-center">더미</th>
    <th scope="col" class="text-center">재고관리권한</th>
    <th scope="col" class="text-center">사원관리권한</th>

    </thead>
    <tbody>
    <tr th:each="worker:${companyWorker}">
        <td th:text="${worker.getName()}"></td>
        <td class="email" th:text="${worker.getEmail()}"></td>
        <td th:text="${worker.getPhone()}"></td>
        <td th:text="${worker.getDepartment()}"></td>
        <td th:text="${#strings.contains(worker.getAuthorities(),'UserManagement')}"></td>
        <td th:if="${#strings.contains(worker.getAuthorities(),'InventoryManagement')}"><input class="inventoryManagement" type="checkbox" onclick="checkEvent(this)" checked></td>
        <td th:unless="${#strings.contains(worker.getAuthorities(),'InventoryManagement')}"><input class="inventoryManagement" type="checkbox"  onclick="checkEvent(this)"></td>
        <td th:if="${#strings.contains(worker.getAuthorities(),'UserManagement')}"><input class="UserManagement" type="checkbox" onclick="checkEvent(this)" checked></td>
        <td th:unless="${#strings.contains(worker.getAuthorities(),'UserManagement')}"><input class="UserManagement" type="checkbox" onclick="checkEvent(this)" ></td>
    </tr>
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>


    function checkEvent(checkbox){
        var emailTd = $(checkbox).parent().parent().children(".email");
        var email = $(emailTd).text()
        var authority = $(checkbox).attr('class');
        if ($(checkbox).is(':checked')){
            giveAuthority({
                email:email,
                authority: authority,
                checkbox: $(checkbox)
            });
            alert("권한이 설정되었습니다.")
        }
            //throw $(e).prop("checked",true)
        else{
            // console.log($(checkbox))
            removeAuthority({
                email:email,
                authority: authority,
                checkbox: $(checkbox)
            });
            alert("권한이 삭제되었습니다.")
        }

    }

    function giveAuthority({email,authority, checkbox}){

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $.ajax({
            url:'/company/give/authority',
            type:'post',
            data:{email:email,authority:authority},
            beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                xhr.setRequestHeader(header, token);
            },
            success:function (isEqualCompany){
                if(!isEqualCompany){
                    alert("해당 회사의 사원만 수정할 수 있습니다.")
                }

            },
            error:function(request,status,error){
                alert("권한 설정에 실패하였습니다.")
                $(checkbox).prop("checked",false);
            }
        });

    }
    function removeAuthority({email,authority, checkbox}){

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $.ajax({
            url:'/company/remove/authority',
            type:'post',
            data:{email:email,authority:authority},
            beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                xhr.setRequestHeader(header, token);
            },
            error:function(request,status,error){
                alert("권한 설정에 실패하였습니다.")
                $(checkbox).prop("checked",true);
            }
        });

    };


</script>
</div>
</html>