<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  href="/css/company/workerManagement.css">


    <meta charset="UTF-8">
    <title>사원 목록 및 권한</title>
</head>
<div layout:fragment="content"  class="content">
    <section class="action-btn-container">
        <form method="get" >
            <div class="inquery-mat-header-left-box">
                    <select class="search-select" name="searchType" >
                        <option>이름</option>
                        <option>부서</option>
                    </select>
                    <div class="search-input-container">
                        <input name="searchQuery" type="text" id="search" class="search-input text-size-middle" placeholder="Search" />
                    </div>
            </div>
        </form>
        <div class="inquery-mat-header-right-box">
            <div class="action-btn-left-container d-flex">
                <div class="select-worker-display" id="select-worker-display"><span id="check-display">선택된 사원: 0</span></div>
                <div class="square" onclick="removeSelectWorker()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <div class="pimcs-table-container">
    <table class="table pimcs-table">
        <thead>
        <th class="text-center"><input type="checkbox" id="check-worker-head" onclick="checkAll()"></th>
        <th scope="col" class="text-center">이름</th>
        <th scope="col" class="text-center">이메일</th>
        <th scope="col" class="text-center">전화번호</th>
        <th scope="col" class="text-center">부서</th>
        <th scope="col" class="text-center">재고관리권한</th>
        <th scope="col" class="text-center">사원관리권한</th>

        </thead>
        <tbody id="pimcs-tbody" class="pimcs-tbody">
        <th:block th:each="worker:${companyWorker}">
            <tr class="worker-tr" th:if="${worker.getEmail()}!=${#httpServletRequest.remoteUser}">
                <td ><input type="checkbox" class="check-worker" name="check-worker" onclick="checkCount()"></td>
                <td class="name" th:text="${worker.getName()}"></td>
                <td class="email" name="email[]" th:id="${worker.getEmail()}" th:text="${worker.getEmail()}+' '"></td>
                <td th:text="${worker.getPhone()}"></td>
                <td th:text="${worker.getDepartment()}"></td>
                <td th:if="${#strings.contains(worker.getAuthorities(),'InventoryManagement')}"><input class="inventoryManagement" type="checkbox" onclick="checkEvent(this)" checked></td>
                <td th:unless="${#strings.contains(worker.getAuthorities(),'InventoryManagement')}"><input class="inventoryManagement" type="checkbox"  onclick="checkEvent(this)"></td>
                <td th:if="${#strings.contains(worker.getAuthorities(),'UserManagement')}"><input class="UserManagement" type="checkbox" onclick="checkEvent(this)" checked></td>
                <td th:unless="${#strings.contains(worker.getAuthorities(),'UserManagement')}"><input class="UserManagement" type="checkbox" onclick="checkEvent(this)" ></td>
            </tr>
            <tr class="worker-tr" th:if="${worker.getEmail()}!=${#httpServletRequest.remoteUser}">
                <td ><input type="checkbox" class="check-worker" name="check-worker" onclick="checkCount()"></td>
                <td class="name" th:text="${worker.getName()}"></td>
                <td class="email" name="email[]" th:id="${worker.getEmail()}" th:text="${worker.getEmail()}+' '"></td>
                <td th:text="${worker.getPhone()}"></td>
                <td th:text="${worker.getDepartment()}"></td>
                <td th:if="${#strings.contains(worker.getAuthorities(),'InventoryManagement')}"><input class="inventoryManagement" type="checkbox" onclick="checkEvent(this)" checked></td>
                <td th:unless="${#strings.contains(worker.getAuthorities(),'InventoryManagement')}"><input class="inventoryManagement" type="checkbox"  onclick="checkEvent(this)"></td>
                <td th:if="${#strings.contains(worker.getAuthorities(),'UserManagement')}"><input class="UserManagement" type="checkbox" onclick="checkEvent(this)" checked></td>
                <td th:unless="${#strings.contains(worker.getAuthorities(),'UserManagement')}"><input class="UserManagement" type="checkbox" onclick="checkEvent(this)" ></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    </div>








    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/company/workerManagement.js"></script>
    </div>
</html>