<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>제품 목록</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <script type="text/javascript" src="/js/jquery.twbsPagination.js"></script>
        <link rel="stylesheet" href="/css/product/readProduct.css" />
        <script src="/js/product/readProduct.js"></script>
        <!--cropper-->
        <link rel="stylesheet" type="text/css" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
        <script src="https://fengyuanchen.github.io/cropper/js/cropper.js"></script>
        
        <!--prudct update-->
        <script src="/js/product/updateProductCommon.js"></script>
        <link rel="stylesheet" href="/css/product/updateProductCommon.css" />
        <!--modal-->
        <link rel="stylesheet" href="/css/product/imageCropModal.css"/>
        <script src="/js/product/imageCropModal.js"></script>
        <script>
            jQuery(function ($) {
                //seesion storage전체데이터 삭제
                sessionStorage.clear();
                //table데이터 초기화
                let params = new URLSearchParams(location.search);
                initProductsData({
                    page: params.get('page') != null ? params.get('page') : 1,
                    size: params.get('size') != null ? params.get('size') : 10,
                })
                
                //검색 input값 초기화
                initSearchForm();
            });
        </script>
    </head>
    <div layout:fragment="content" class="content">
        
        <!--image crop modal-->
        <th:block th:replace="product/createProduct/modal/imageCropModal :: imageCropModal"></th:block>
        <!--제품코드 변경 모달-->
        <div th:replace="product/update/updateProductCodeModal :: productCode"></div>
        <!--제품명 변경 모달-->
        <div th:replace="product/update/updateProductNameModal :: productName"></div>
        <!--제품카테고리 변경 모달-->
        <div th:replace="product/update/updateProductCategoryModal :: productCategory"></div>
        <!--제품이미지 변경 모달-->
        <div th:replace="product/update/updateProductImageModal :: productImage"></div>
        <!--제품무게 변경 모달-->
        <div th:replace="product/update/updateProductWeightModal :: productWeight"></div>
        
        <!--header-->
        <div class="header">
            <div class="header-child">
                <!--header left box-->
                <form method="get" class="search-form header-child-left">
                    <select class="pimcs-select-shadow text-size-middle" name="searchType" onchange="changeSearchType(this)">
                        <option value="productCode">제품 코드</option>
                        <option value="productName">제품명</option>
                        <option value="productCategory">제품 카테고리</option>
                    </select>
                    <!--검색 input-->
                    <div class="input-group-shadow">
                        <input class="pimcs-bd-group-input text-size-middle" name="searchQuery" placeholder="Search by product code"/>
                        <span class="input-group-text-shadow"><i class="bi bi-search"></i></span>
                    </div>
                </form>
                <!--header right box-->
                <div class="header-child-right">
                    <!--show items-->
                    <div class="show-item-container">
                        show
                        <select class="show-item-select">
                            <option selected>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        items per page
                    </div>
                </div>
            </div>
            <div class="header-child mt-3">
                <div class="header-child-left">
                    <!--수정버튼-->
                    <div class="square modify-btn" sec:authorize="hasRole('ROLE_InventoryManagement')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff"  class="bi bi-wrench" viewBox="0 0 16 16">
                            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                        </svg><br>
                        <ul class="dropdown-menu modify-dropdown">
                            <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="productCode" target="productCodeModal">제품코드 변경</a></li>
                            <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="productName" target="productNameModal">제품명 변경</a></li>
                            <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="productCategory" target="productCategoryModal">제픔카테고리 변경</a></li>
                            <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="productImage" target="productImageModal">제품이미지 변경</a></li>
                            <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="productWeight" target="productWeightModal">제품무게 변경</a></li>
                        </ul>
                    </div>
                    <!--삭제버튼-->
                    <div class="square delete-btn" sec:authorize="hasRole('ROLE_InventoryManagement')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </div>
        
                    <p class="inventory-cnt-viewer-container text-size-middle">
                        선택된 재고: <span class="inventory-cnt-viewer">0</span>
                    </p>
                </div>
                <div class="header-child-right">
                    <div class="rect download-csv-btn">CSV</div>
                </div>
            </div>
        </div>
        <!--PAGINATION-->
        <div aria-label="Page navigation" class="pagination-container d-flex justify-content-center mt-3">
            <ul id="desktop-pagination" class="pagination text-size-between-middle-samll"></ul>
        </div>
        
        <!--TABLE-->
        <div class="pimcs-table-container mt-3">
        
            <table class="table pimcs-table w-100">
                <caption></caption>
                <thead>
                    <tr class="text-size-middle">
                        <th scope="col"><input class="all-rows-checked" type="checkbox"/></th>
                        <th scope="col">제품 코드</th>
                        <th scope="col">제품명</th>
                        <th scope="col">제품 카테고리</th>
                        <th scope="col">제품 이미지</th>
                        <th scope="col">제품 무게</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                
            </table>
        </div>
        <!--TABLE END-->
        
        
        <!--csv download form -->
        <form id="csv-download-form" th:action="@{/products/csv}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            
        </form>
        
        
    </div>
</html>