
/* .inquery-mat-container{
    
} */

.mobile-inquery-mat-header{
    display: none;
}
.inquery-mat-header{
    display: flex;
}
.inquery-mat-header-right-box{
    justify-content: end;
}

.viewer-btn-container{
    margin-left: 28px;
    margin-right: 53px;
}
.show-item-container{
    font-size: 12px;
    color: #707070;
}
.show-item-select{
    width: 45px;
    height: 24px;
    border: 2px solid #ffffff;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fafafa;
    color: #4282ff;
    font-size: 12px;
}

/*ACTION BUTTON CONTAINER*/
.action-btn-container{
    display: flex;
    width: 100%;
    margin-top: 22px;

}
.mobile-action-btn-container{
    display: none;
    width: 100%;
    margin-top: 22px;
}

.action-btn-left-container {
    width: 50%;
}

.action-btn-right-container {
    width: 50%;   
    justify-content: end;
    margin-right: 53px;
}
.square{
    width: 28px;
    height: 28px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    margin-right: 14px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:nth-last-child(1){
    margin: 0px;
}
.square img{
    line-height: 33px;
}

.inventory-cnt-viewer-container{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.rect{

    width: 93px;
    height: 30px;
    margin-left: 12px;
    border: 2px solid #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border-radius: 6px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
}

.rect:first-child{
    margin-left: 0px;
}
.table-viewer-btn{
    background-image: url("/img/table_viewer_icon.png");
    background-repeat: no-repeat;
    width: 26px; 
    height: 22px;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    cursor: pointer;
}
.table-viewer-active{
    background-image: url("/img/table_viewer_active_icon.png");
    background-repeat: no-repeat;

}
.td-small-image{
    width: 48px;
    height: 48px;
}
.td-big-image{
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    left:0px;
    top:65px;
    border-radius: 6px;
    box-shadow: 0 3px 17px 0 rgb(0 0 0 / 16%);
    z-index: 9999;
}

.td-big-image-last{
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    left:0px;
    top:-200px;
    border-radius: 6px;
    box-shadow: 0 3px 17px 0 rgb(0 0 0 / 16%);
    z-index: 9999;
}

.card-viewer-btn{
    background-image: url("/img/card-viewer-icon.png");
    background-repeat: no-repeat;
    width: 26px; 
    height: 22px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.card-viewer-active{
    background-image: url("/img/card_viewer_active_icon.png");
    background-repeat: no-repeat;
}



.bi-search {
    color: #afafaf;
    margin-right: 10px;
}

/*PAGINATION*/
.pagination-container{
    display: flex;
}
.mobile-pagination-container{
    display: none;
}

.pagination{
    margin-bottom: 11px;
    
}
/* DROPDOWN */
.modify-btn, .mobile-modify-btn{
    position: relative;
    transition: all ease 0.5s;

}
 
.modify-btn.hover{
    width: 160px;
    height: 234px;
    align-items: start;
    transition: all ease 0.5s;
    
}
.mobile-modify-btn.hover{
    width: 160px;
    height: 234px;
    align-items: start;
    position: absolute;
    transition: all ease 0.5s;
}

.inquery-mat-container .dropdown-menu{
    /* height: 0px; */
    display: none;
    position: absolute;
    left: -2px;
    top: 26px;
    border-radius: 0;
    border: 0;
    animation-name: slideIn;
    animation-duration: 0.5s;
}
.inquery-mat-container .mobile-modify-dropdown{
    display: none;
    
    position: absolute;
    left: -2px;
    top: 26px;
    border-radius: 0;
    border: 0;
    animation-name: slideIn;
    animation-duration: 0.5s;
}
/* .inquery-mat-container .mobile-modify-dropdown .dropdown-item{
    width: 100%;
} */
.inquery-mat-container .dropdown-item{
    color: #555555;
    font-weight: 0;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.inquery-mat-container .dropdown-menu>li:last-child>.dropdown-item {
    border-bottom: 0;
}

.inquery-mat-container .dropdown-item:hover{
    background-color: #3177ff;
    border-radius: 5px;
    color: #ffffff;
}




@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0rem);
      opacity: 1;
    }
  
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
  
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
  
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }

/* A TAG*/
.a-remove-attr{
    text-decoration: none;
    color: #333;
}
.a-remove-attr:hover{
    color: #333;
}


/* TABLE */

.pimcs-table{
    width: 97%;
    margin-top: 2px;
    display: none;
    
}
.pimcs-table thead{
    width: 100%;
}
.pimcs-table tbody{
    width: 100%;
    background-color: #fff;
}
.pimcs-table tbody tr:hover{
    background-color: #ececec;
}
.table>:not(:first-child) {
    border-top: 0px solid currentColor;
}
thead{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
thead th:first-child {
    border-radius: 6px 0 0 6px;
}
  thead th:last-child {
    border-radius: 0 6px 6px 0;
}
.pimcs-table th{
    color:#ffffff;
    background-color: #4282ff;

}
.blue{
    color: #4282ff;
}
.red{
    color: #ea2400;
}

.battery-small-rect{
    display: inline-block;
    margin: 1px;
    padding:0px;
    width: 8px;
    height: 8px;
    background-color: #ebebeb;
}
tbody td:first-child{
    display: table-cell;
}
tbody td{
    display: none;
}
.display{
    display: table-cell;
}

/**CARD**/

.pimcs-card{
    width: 259px;
    height: 222px;
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 0 11px;
    /* margin: 0 auto; */
    
    
} 
.mobile-pimcs-card-container{
    width: 100%;;
    display: none;
}
.pimcs-row{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.pimcs-card p{
    margin: 0px;    
}
/**CARD HEAD**/
.pimcs-card-head{
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #d5d5d5;
}
.pimcs-card-head > div:first-child{
    width: 90%;
    margin: auto 0;
}
.pimcs-card-head .card-product-name{
    font-weight: bold;
    color: #555555;
}
.pimcs-card-head .card-serial-number{
    color: #707070;
    margin-top: 4px;
}

.pimcs-card-head > div:last-child{
    width: 10%;
    margin: auto 0;
}
/** CARD BODY **/
.pimcs-card-body{
    width: 100%;
    height: 100px;
    margin-top: 12px;
}
.pimcs-card-body .info-area{
    width: 65%;
    

}
.pimcs-card-body .info-area>div{
    margin-top: 19px;
    display: flex;
}
.pimcs-card-body .img-area{
    width: 35%;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    
}
.pimcs-card-body .img-area img{
    width: 100%;
    height: 100%;
    
}

.pimcs-card-body .label{
    width: 62px;;
    color: #707070;
    font-weight: bold;
}
.pimcs-card-body .value{
    display: inline-block;
    width: calc(100% - 50px);
    color: #707070;
}

/**CARD FOOTER**/
.pimcs-card-footer{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding: 0 8px;
    border: 1px solid #fff;
    border-radius: 6px;

}
.pimcs-card-footer > p:first-child{
    width: 49%;
    margin:auto 0;

}
.pimcs-card-footer > p:last-child{
    width: 51%;
    margin:auto 0;
    text-align: end;
}

.pimcs-card-bg-red{
    background-color: #ef5959;
    color: #ffffff;
}
.pimcs-card-bg-green{
    background-color: #6bc66b;
    color: #ffffff;
}


.pimcs-table, .pimcs-card-container{
    
    display: none;
}
.pimcs-card-container{
    margin-left: -23px;
}
.content-display{
    display: table; 
}

/*MOBLIE, TABLET*/
@media (max-width: 768px) {
    
    /*MOBILE HEAD DISPLAY*/
    .mobile-inquery-mat-header{
        display: flex;
        justify-content: space-between ; 
        margin-left: 2vw;
    }
    .inquery-mat-header{
        display: none;
    }
    .pimcs-select{
        width: 85px;
        
    }        
    .search-input-container{
        width: 52vw;
        margin-left: 1vw;
    }
    .viewer-btn-container{
        margin:0;
        margin-right: 2vw;
        margin-left:  1vw;
    }
    /*MOBILE ACTION  BUTTON CONTAINER*/
    .mobile-action-btn-container{
        display: flex;
        margin-left: 2vw;
    }
    .action-btn-container{
        display: none;
    }
    .square {
        margin-right: 2vw;
    }
    .rect{
        width: 16vw;
        margin-left: 1vw;
    }
    .inventory-cnt-viewer-container{
        margin-left: 0px;
    }
    .action-btn-right-container{
        margin-right: 3vw;
    }
    /*PAGINATION*/
    .mobile-pagination-container{
        display: flex;
        margin-top: 27px;
        margin-bottom: 11px;
        margin-right: 3vw;
    }
    .pagination-container{
        display: none;
    }
    .pagination{
        margin-top: 5px;
        margin-bottom: 0px;
        margin-right: 3vw;
    }
   
    /*CARD VIEW*/
    .pimcs-card{
        width: 345px;
        margin: 0 auto;
    }
}