
header > *{
    line-height: 55px;
}

header{
    width: 100%;
    height: 55px;
    background-color: #4d83f7;
}
.header-left-box, .header-right-box{
    width: 100%;
}

.header-left-box .logo-icon-box > img{
    
    height: 55px;
}
.header-left-box .menu-icon-box{
    margin-left: 29px;
    cursor: pointer;
}
.header-left-box .menu-icon-box > svg{
    width: 24px;
    height: 24px;
    line-height: 24px;
}
.header-left-box .logo-icon-box{
    margin-left: 22px;
    cursor: pointer;
}

.header-right-box{
    margin-right: 10px;
}

.header-right-box  p{
    color: white;
    font-weight: bold;
    margin-right: 15px;
}
.header-right-box  p:nth-of-type(1){
    
    margin-right: 16px;
}
.header-right-box div:nth-of-type(2){
    
    margin-left: 3px;
    margin-right: 52px;

}
/** DROP DOWN MENU **/
.header-right-box .profile-icon-box{
    /* margin-right: 53px; */
}
.header-right-box .profile-icon-box svg{
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
}
/* .header-right-box .profile-icon-box svg:last-child{
    width: 14px;
    height: 12px;
    line-height: 10px;    
} */

header .dropdown-menu{
    background-color: #4d83f7;
}

header .dropdown-item{
    color: #fff;
    text-align: center;
    line-height: 31px;
}
header .dropdown-item:hover{
    color:#4d83f7;
    background-color: #fff;
    transition: all ease 0.5s;
}
header .dropdown-item-text{
    color: #fff;
    font-weight: bold;
}
header .mobile{
    display: none;
}

header .close-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 100;
    margin-top: 57px;
    
}

@media (max-width: 768px) {
    
    header .dropdown-menu{
        width: 100vw;
        height: auto;
    }
    header .dropdown-item{
        text-align: start;
        padding-left: 41px;
    }
    header .close-container{
        background-color: rgba(0, 0, 0, 0.4);
    }
    
}

