<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  href="/css/admin/addMatCategory.css">


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content"  class="content">



<section class="add-category-wrapper">
    <p class="title">
        매트 카테고리 등록
    </p>
    <form name="signUp" th:action="@{/admin/matcategory/add}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <p class="label">기기명 입력</p>
        <input type="text" name="matCategoryName"  required>
        <p class="label">매칭 시리얼 코드 입력</p>
        <input type="text" name="mappingSerialCode"  required>
        <p class="label">기기 가격(원)</p>
        <input type="number" name="matPrice" required>
        <p class="label">기기 정보</p>
        <input type="text" name="matInformation" required>
        <p class="label">기기 최대 무게(g)</p>
        <input type="number" name="maxWeight" min="0" max="500000" required><br>
        <input type="submit" value="submit">
    </form>
</section>
</div>
</html>
