<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Cocoon</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>

    </style>
</head>
<body>


<section>
</section>

<section>


    <form name="signUp" th:action="@{/admin/matcategory/add}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

        <p>제품명 입력</p>
        <input type="text" name="matCategoryName">
        <p>제품 가격</p>
        <input type="number" name="matPrice">
        <p>제품 정보</p>
        <input type="text" name="matInformation">
        <p>제품 무게</p>
        <input type="number" name="maxWeight" min="0" max="500000">
        <input type="submit" value="submit">
    </form>
</section>

</body>
</html>