<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="~{layouts/default}">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link rel="stylesheet"  href="/css/admin/companyView.css">
  <script defer type="text/javascript" src="/js/admin/companyView.js"></script>

  <meta charset="UTF-8">
  <title>Title</title>

</head>
<div layout:fragment="content"  class="content">
  <div th:replace="admin/modal/companyViewAddMat :: addMat"></div>
  <p class="title">
    회사 상세 정보
  </p>
  <section class="qa-container">
    <section th:class="company">
      <p class="sub-title">
        회사 정보
      </p>
      <hr>
      <p ><span th:class="write-label">회사 이름</span><span th:class="write-value" th:text="${company.getCompanyName()}"></span></p>
      <hr>
      <p ><span th:class="write-label">회사 id</span><span th:class="write-value" th:text="${company.getId()}"></span></p>
      <hr>
      <p ><span th:class="write-label">회사 코드</span><span th:class="write-value" th:text="${company.getCompanyCode()}"></span></p>
      <hr>
      <p ><span th:class="write-label">회사 주소</span><span th:class="write-value" th:text="${company.getCompanyAddress()}"></span></p>
      <hr>
      <p ><span th:class="write-label">연락처</span><span th:class="write-value" th:text="${company.getContactPhone()}"></span></p>
      <hr>
      <p ><span th:class="write-label">생성일</span><span th:class="write-value" th:text="${company.getCreatedAt()}"></span></p>
      <hr>
      <p ><span th:class="write-label">대표 이메일</span><span th:class="write-value" th:text="${company.getCeoEmail()}"></span></p>
      <hr>
      <p ><span th:class="write-label">대표 이름</span><span th:class="write-value" th:text="${company.getCeoName()}"></span></p>


      <th:block th:if="${company.getOwnDeviceList()}!=null">
        <p class="sub-title">
          구매 기기
        </p>
        <th:block  th:each="ownDevice,i:${company.getOwnDeviceList()}">
          <p>
            <label th:for="${ownDevice.getSerialNumber()}">
              <span th:text="${i.count}+'.'"></span>
              <span th:text="${ownDevice.getSerialNumber()}"></span>
            </label>
            <input class="serial" name="serial"  th:id="${ownDevice.getSerialNumber()}" type="checkbox" th:value="${ownDevice.getId()}">
          </p>
          <hr>
        </th:block>
      </th:block>
    </section>
  </section>
  <p id="list-p">
    <a th:class="footer-button"  th:href="@{/admin/companies}">회사 목록</a>
    <a th:class="footer-button" data-toggle="modal" data-target="#addMat" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMat">매트 추가</a>
    <a class="del footer-button">삭제</a>
  </p>

  <script>


    /*<![CDATA[*/
    let companyId = "[[${company.getId}]]"
    /*]]>*/
  </script>
</div>
</div>
</html>