<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  href="/css/admin/categoryManagement.css">


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content"  class="content">
    <p class="title">
        매트 카테고리
    </p>
    <table class="table pimcs-table">
        <thead>
        <th scope="col">기기 종류</th>
        <th scope="col">매칭 시리얼 코드</th>
        <th scope="col">기기 정보</th>
        <th scope="col">기기 가격(원)</th>
        <th scope="col">기기 최대 무게(g)</th>
        <th scope="col">DBId</th>
        <th scope="col">수정</th>
        <th scope="col">삭제</th>


        </thead>
        <tbody>
        <tr th:each="matCategory:${matCategoryList}">
            <td ><input type="text" th:value="${matCategory.getMatCategoryName()}"></td>
            <td ><input type="text" th:value="${matCategory.getMappingSerialCode()}"></td>
            <td ><input type="text" th:value="${matCategory.getMatInformation()}"></td>
            <td ><input type="number" th:value="${matCategory.getMatPrice()}"></td>
            <td ><input type="number" th:value="${matCategory.getMaxWeight()}"></td>
            <td ><input type="text " th:value="${matCategory.getId()}" disabled></td>

            <td><input type="button" value="수정" onclick="matCategoryModify(this)"></td>
            <td><input type="button" value="삭제" onclick="matCategoryRemove(this)"></td>
        </tr>
        </tbody>
    </table>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

    function matCategoryModify(modifyButton) {
        var matCategoryName = $(modifyButton).closest("tr").children("td:eq(0)").children().prop('value');
        var matInformation = $(modifyButton).closest("tr").children("td:eq(1)").children().prop('value');
        var matPrice = $(modifyButton).closest("tr").children("td:eq(2)").children().prop('value');
        var maxWeight = $(modifyButton).closest("tr").children("td:eq(3)").children().prop('value');

        console.log(matPrice)
        $.ajax({
            url: '/admin/matcategories',
            type: 'put',
            data: {
                matCategoryName: matCategoryName,
                matInformation: matInformation,
                matPrice: matPrice,
                maxWeight: maxWeight
            },
            beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                xhr.setRequestHeader(header, token);
            },success:function(){
                alert("변경되었습니다")
            },


            error: function () {
                alert("에러입니다");
            }
        });
    }


    function matCategoryRemove(removeButton) {
        var parentTr = $(removeButton).closest("tr")
        var DBId = $(removeButton).closest("tr").children("td:eq(4)").children().prop('value');
        console.log(DBId)
        $.ajax({
                    url:'/admin/matcategories/remove',
                    type:'post',
                    data:{DBId:DBId},
                    beforeSend : function(xhr)
                    {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    success:function(){ //컨트롤러에서 넘어온 cnt값을 받는다
                        $(parentTr).css("display","none")
                    },
                    error:function(){
                        alert("에러입니다");
                    }
                });
            };

</script>
</div>
</html>