<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link rel="stylesheet"  href="/css/admin/orderView.css">
  <script defer type="text/javascript" src="/js/admin/orderView.js"></script>
  <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<div layout:fragment="content"  class="content">
  <div th:replace="admin/modal/mappingSerial :: mappingSerial"></div>
  <p class="title">
    주문정보
  </p>
  <section class="qa-container">
    <section th:class="question">
      <p class="sub-title">
        주문자 정보
      </p>
      <div th:class="qna-title">
        <span th:class="write-label" >주문자 메일</th:block></span>
        <span th:class="write-value" th:text="${matOrder.getUser().getEmail()}"></span>
<!--        <div th:if="${question.getAnswer().getId()}!=0" th:class="isAnswer-wrraper"><div th:class="isAnswer-true" >답변 완료</div></div>-->
<!--        <div th:unless="${question.getAnswer().getId()}!=0" th:class="isAnswer-wrraper"><div th:class="isAnswer-false" >답변 미완료</div></div>-->
      </div>
      <hr>
      <p ><span th:class="write-label">입금자 이름</span><span th:class="write-value" th:text="${matOrder.getUser().getName()}"></span></p>
      <hr>
      <p ><span th:class="write-label">주문회사</span><span th:class="write-value" th:text="${matOrder.getCompany().getCompanyName()}"></span></p>
      <hr>
      <p ><span th:class="write-label">회사 코드</span><span th:class="write-value" th:text="${matOrder.getCompany().getCompanyCode()}"></span></p>
      <hr>
      <p ><span th:class="write-label">작성일</span><span th:class="write-value" th:text="${matOrder.getCreatedAt().toString().replace('-','.').substring(0,10)}"></span></p>
      <hr>
      <p ><span th:class="write-label">희망 배송일</span><span th:class="write-value" th:text="${matOrder.getHopeDeliveryDate().toString().replace('-','.').substring(0,10)}"></span></p>
      <p class="sub-title">
        배송지 정보
      </p>
      <p ><span th:class="write-label">우편 번호</span><span th:class="write-value" th:text="${matOrder.getPostCode()}"></span></p>
      <hr>
      <p ><span th:class="write-label">배송 주소</span><span th:class="write-value" th:text="${matOrder.getDeliveryAddress()}"></span></p>
      <hr>
      <p class="sub-title">
        가격 정보
      </p>
      <th:block th:each="matCategoryOrder:${matOrder.getMatCategoryOrderList()}">
        <p ><span th:class="write-label" th:text="${matCategoryOrder.getMatCategory().getMatCategoryName()}+' 주문갯수'"></span><span th:class="write-value" th:text="${matCategoryOrder.getOrderCnt()}"></span></p>
        <hr>
        <p ><span th:class="write-label" th:text="${matCategoryOrder.getMatCategory().getMatCategoryName()}+' 기기가격'"></span><span th:class="write-value" th:text="${matCategoryOrder.getMatCategory().getMatPrice()}"></span></p>
        <hr>
        <br>
      </th:block>
      <p><span th:class="write-label" id="totalPrice">총 금액</span><span th:class="write-value" th:text="${matOrder.getTotalPrice()}"></span></p>

      <th:block th:if="${matOrder.getSendHistory()}!=null">
        <p class="sub-title">
          배송된 내역
        </p>
        <th:block  th:each="sendDevice,i:${matOrder.getSendHistory().getHistory().split(',')}">
          <span th:text="${i.count}+'.'"></span> <span th:text="${sendDevice}"></span>
          <hr>
        </th:block>
      </th:block>
      <p class="sub-title">
        입금 상태 :
        <span th:if="${matOrder.getDepositStatus()}==0" style="color:red" class="depositStatus">미완료</span>
        <span th:unless="${matOrder.getDepositStatus()}==0" style="color:#84fb84" class="depositStatus">완료</span>
      </p>
    </section>
  </section>
  <p id="list-p">
    <a th:class="list-button"  th:href="@{/admin/order/list}">목록</a>
    <a th:class="list-button" data-toggle="modal" data-target="#mappingSerial" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#depositModal">입금 상태 변경</a>
    <th:block th:if="${matOrder.getSendHistory()}==null">
      <a th:class="list-button" data-toggle="modal" data-target="#mappingSerial" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deliveryModal">배송</a>
    </th:block>
  </p>


  <script>


    /*<![CDATA[*/
    let totalCnt = "[[${matOrder.getTotalCnt}]]";
    let matOrderId = "/admin/order/deposit/"+"[[${matOrder.getId()}]]";
    let ownDeviceUrl = "/admin/order/"+"[[${matOrder.getId()}]]"+"/owndevice";
    let companyId = "[[${matOrder.getCompany().getId}]]"
    /*]]>*/
  </script>
</div>



</div>

</html>