<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  href="/css/admin/adminOrderList.css">
    <script type="text/javascript" src="/js/jquery.twbsPagination.js"></script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content"  class="content">
    <input type="hidden" th:value="${matOrderPage.getTotalElements()}" id="totalData">
    <input type="hidden" th:value="${matOrderPage.getSize()}" id="dataPerPage">

    <p class="title">
        주문 조회
    </p>
    <div id="paging"></div>
    <section class="action-btn-container">
        <form th:action="@{/admin/order/search}" method="get" >
            <div class="inquery-mat-header-left-box">
                <div class="search-input-container">
                    <input name="keyword" type="text" id="search" class="search-input text-size-middle" placeholder="입금자 이름" />
                </div>
                <div class="search-input-container">
                    <input name="totalPriceStart" type="number" id="search2" class="search-input text-size-middle" max="999999999" placeholder="시작 가격" required/>
                </div>
                <div class="search-input-container">
                    <input name="totalPriceEnd" type="number" id="search3" class="search-input text-size-middle" max="999999999" placeholder="끝 가격" required/>
                </div>
            </div>

            <div class="inquery-mat-header-right-box">
                <div class="action-btn-left-container d-flex">
                    <input type="submit" class="square" th:value="검색">
                </div>
            </div>
        </form>

    </section>
    <!--DESKTOP PAGINATION-->
    <div aria-label="Page navigation" class="d-flex justify-content-center">
        <ul id="desktop-pagination" class="pagination text-size-between-middle-samll"></ul>
    </div>
    <table class="table pimcs-table">
        <thead>
            <th scope="col" class="text-center">주문일자</th>
            <th scope="col" class="text-center">주문자 이메일</th>
            <th scope="col" class="text-center">주문자 회사</th>
            <th scope="col" class="text-center">총 주문 금액</th>
            <th scope="col" class="text-center">입금 상태</th>
            <th scope="col" class="text-center">주문희망 일자</th>
            <th scope="col" class="text-center">입금자 이름</th>
            <th scope="col" class="text-center">배송 상태</th>
        </thead>
        <tbody id="pimcs-tbody" class="pimcs-tbody">

        <th:block th:each="matOrder,i:${matOrderList}">
            <tr class="matOrder-tr" th:onclick="|location.href='@{/admin/order/view/?matId={matId}(matId=${matOrder.getId()})}'|">
                <td class="text-center" th:text="${matOrder.getCreatedAt()}"></td>
                <td class="text-center" th:text="${matOrder.getUser().getEmail()}"></td>
                <td class="text-center" th:text="${matOrder.getCompany().getCompanyName()}"></td>
                <td class="text-center" th:text="${matOrder.getTotalPrice()}"></td>
                <td class="text-center" th:text="${matOrder.getDepositStatus()}"></td>
                <td class="text-center" th:text="${matOrder.getHopeDeliveryDate()}"></td>
                <td class="text-center" th:text="${matOrder.getDepositerName()}"></td>
                <td class="text-center" th:text="${matOrder.getDeliveryStatus()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>



    <script >



        /*<![CDATA[*/
        let totalPage = "[[${matOrderPage.getTotalPages()}]]";
        let size = "[[${matOrderPage.getSize()}]]";
        let currentPage = "[[${matOrderPage.getNumber()}]]";
        /*]]>*/
        //파라미터 값 가져오기
        const searchParams = new URLSearchParams(location.search);

        var keyword = searchParams.get('keyword');
        var totalPriceStart = searchParams.get('totalPriceStart');
        var totalPriceEnd = searchParams.get('totalPriceEnd');
        console.log(keyword)
        console.log(keyword)




        currentPage = parseInt(currentPage) + 1;
        $("#desktop-pagination").twbsPagination({
            totalPages:totalPage,
            visiblePages:size,
            startPage: currentPage,
            initiateStartPageClick:false,
            prev:'<',
            next:'>',
            first:'',
            last:'',
            onPageClick: function (event, page) {
                if (keyword!=null)
                    location.href=`${location.pathname}?page=${page}&size=${size}&keyword=${keyword}&totalPriceStart=${totalPriceStart}&totalPriceEnd=${totalPriceEnd}`;
                else{
                    location.href=`${location.pathname}?page=${page}&size=${size}`
                }
            }
        });
    </script>
</div>

</html>