<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Cocoon</title>
</head>
<body>

<section>
    <h1>회원가입 페이지</h1>
</section>

<section>
    <form name="signUp" action="/auth/signUp" method="post">
        아이디<br>
        <input type="text" name="email" placeholder="이메일 입력" ><br>
        회사코드입력<br>
        <input type="text" name="company_code" placeholder="회사 코드입력"><br>

        비밀번호<br>
        <input type="password" name="password" placeholder="123456"><br>
        이름<br>
        <input type="text" name="name" placeholder="이름입력"><br>
        <br>
        핸드폰 번호 입력<br>
        <input type="number" name="phone" placeholder="11"><br>
        부서<br>
        <input type="text" name="department" placeholder="이름입력"><br>

        <br><br>

        <input type="submit"  value="제출">

    </form>
</section>


</body>
</html>