<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Cocoon</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/user/signUp.css" />


    <style>


    </style>
</head>
<body>


<div class="workerForm">
    <a href="/auth/login"><img src="/img/logo2.png" ></a><br>
    <form id="signUp" name="signUp" th:action="@{/auth/signUp}" method="post" onsubmit="return checkForm()">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /><br>
        <input type="hidden" name="enabled" value="true" /><br>

        <input type="text" id = "company" name="companyCode" placeholder="회사 코드"  onblur="checkCompany()" required><br><br>
        <span class="company_ok">확인되었습니다.</span>
        <span class="company_already">존재하지 않는 회사코드입니다.</span><br>

        <input  type="text" name="name" placeholder="이름" required><br><br>

        <input  type="text" id="phone" name="phone" placeholder="전화번호" maxlength="11" title="11자리 휴대폰 번호를 입력해주세요." onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" required><br><br>

        <input  type="text" name="department" placeholder="소속 부서" required><br><br>

        <input type="email" id = "email" name="email" placeholder="이메일" onblur="checkEmail()" required /><br><br>
        <span class="email_ok">사용 가능한 아이디입니다.</span>
        <span class="email_already">누군가 이 아이디를 사용하고 있어요.</span>



        <input class="input" type="password" name="password" id="password" placeholder="비밀번호" required onkeyup="check_password()" ><br><br>
        <span class="pw-text" id="pw-check-text"></span>
        <input class="input" type="password" id="password-verify" placeholder="비밀번호 확인" required onkeyup="check_password()"><br><br>
        <span class="pw-text" id="pw-verify-text"></span>
        <div class="check_box" >
            <input type="checkbox" name="auto_login" value="자동 로그인"> 이용약관 및 개인정보 처리방침에 동의합니다.
        </div>

        <br>
        <input  class="button" type="submit"  value="확인">

    </form>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/user/signUp.js" ></script>
</div>

</body>
</html>