<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Cocoon</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/user/signUp.css" />
    <style>


    </style>
</head>
<body>


<div class="workerForm">
    <img src="/img/logo2.png" ><br>
    <form id="signUp" name="signUp" th:action="@{/auth/signUp}" method="post" onsubmit="return checkForm()">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /><br>
        <input type="hidden" name="enabled" value="true" /><br>

        <span class="company_ok">확인되었습니다.</span>
        <span class="company_already">존재하지 않는 회사코드입니다.</span><br>
        <input type="text" id = "company" name="companyCode" placeholder="회사 코드"  onblur="checkCompany()" required /><br><br>

        <input  type="text" name="name" placeholder="이름" required><br><br>

        <input  type="number" name="phone" placeholder="전화번호" maxlength="11" oninput="maxLengthCheck(this)" required><br><br>

        <input  type="text" name="department" placeholder="소속 부서" required><br><br>

        <span class="email_ok">사용 가능한 아이디입니다.</span>
        <span class="email_already">누군가 이 아이디를 사용하고 있어요.</span><br>
        <input type="email" id = "email" name="email" placeholder="이메일" onblur="checkEmail()" required />


        <br><br>


        <input class="input" type="password" name="password" id="password" placeholder="비밀번호" required onchange="check_password()"><br><br>

        <input class="input" type="password" id="passwordVerify" placeholder="비밀번호 확인" required onchange="check_password()"><br><br>

        <div class="check_box" >
            <input type="checkbox" name="auto_login" value="자동 로그인"> 이용약관 및 개인정보 처리방침에 동의합니다.
        </div>

        <br>

        <input  class="button" type="submit"  value="확인">

    </form>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function check_password(){

        var password = document.getElementById('password').value;
        var SC = ["!","@","#","$","%"];
        var check_SC = 0;

        if(password.length < 6 || password.length>16){
            window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
            document.getElementById('password').value='';
        }
        for(var i=0;i<SC.length;i++){
            if(password.indexOf(SC[i]) != -1){
                check_SC = 1;
            }
        }
        if(check_SC == 0){
            window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
            document.getElementById('password').value='';
        }
        if(document.getElementById('password').value !='' & document.getElementById('passwordVerify').value!=''){
            if(document.getElementById('password').value==document.getElementById('passwordVerify').value){
                document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                document.getElementById('check').style.color='blue';
            }
            else{
                document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                document.getElementById('check').style.color='red';
            }
        }
    }
</script>
<script type="text/javascript">

    function checkForm(){

        if($('.email_ok').css("display")=="none"){
            $('#email').focus();
            alert("이메일을 확인 해주세요.");
            return false
        }else if($('.company_ok').css("display")=="none"){
            $('#company').focus();
            alert("회사코드를 확인 해주세요.");
            return false
        }else{
            return true
        }

    }
    function checkEmail(){
        var email = $('#email').val();
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var form = $("#signUp")

        $.ajax({
            url:'/auth/idCheck',
            type:'post',
            data:{email:email},
            beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                xhr.setRequestHeader(header, token);
            },
            success:function(isEmail){ //컨트롤러에서 넘어온 cnt값을 받는다
                if(isEmail){ //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디
                    $('.email_already').css("display", "none");
                    $('.email_ok').css("display","inline-block");

                } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
                    $('.email_already').css("display","inline-block");
                    $('.email_ok').css("display", "none");
                }
            },
            error:function(){
                alert("에러입니다");
            }
        });
    };

    function checkCompany(){
        var company = $('#company').val();
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var form = $("#signUp")


        $.ajax({
            url:'/auth/companyCheck',
            type:'post',
            data:{company:company},
            beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                xhr.setRequestHeader(header, token);
            },
            success:function(isCompany){ //컨트롤러에서 넘어온 cnt값을 받는다
                if(!isCompany){ //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디

                    $('.company_already').css("display", "none");
                    $('.company_ok').css("display","inline-block");

                } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
                    $('.company_already').css("display","inline-block");
                    $('.company_ok').css("display", "none");

                }
            },
            error:function(){
                alert("에러입니다");
            }
        });
    };


    function maxLengthCheck(object){
        if (object.value.length > object.maxLength){
            object.value = object.value.slice(0, object.maxLength);
        }
    }
</script>

</body>
</html>