<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Cocoon</title>
</head>
<body>

<section>
    <h1>회원가입 페이지</h1>
</section>


    <p th:text="${user.email}"></p>
    <p>[[${user.email}]]</p>
<section>
    <form name="signUp" action="/auth/signUp/" method="post">
        아이디:
        <p>[[${user.email}]]</p><br>
        회사코드입력<br>
        <input type="text" name="company_code" th:value="${user.company_code}"><br>
        <input type="hidden" name="email" th:value="${user.email}"><br>
        비밀번호<br>
        <input type="password" name="password" th:value="11111111"><br>
        이름<br>
        <input type="text" name="name" th:value="${user.name}"><br>
        <br>
        비밀번호<br>
        <input type="password" name="password" th:value="1111111"><br>
        핸드폰 번호 입력<br>
        <input type="number" name="phone" th:value="${user.phone}"><br>
        부서<br>
        <input type="text" name="department" th:value="${user.department}"><br>

        <br><br>

        <input type="submit" name="" value="제출">

    </form>
</section>


</body>
</html>