<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
    <head>
        <title>발주 내역</title>
        
        <!--PAGINATION-->
        <script type="text/javascript" src="/js/jquery.twbsPagination.js"></script>
        
        <link rel="stylesheet" href="/css/order/orderHistory.css"/>
        <script src="/js/order/orderHistory.js"></script>

        <script>
            $(function(){
              /*<![CDATA[*/
                    let totalPages = "[[${dynamoResultPage.getTotalPage()}]]";
                    let page = "[[${dynamoResultPage.getPage()}]]";
                    let size = "[[${dynamoResultPage.getSize()}]]";
                /*]]>*/

                
                if(totalPages > 0){
                    pagination({
                        page: page,
                        size: size,
                        totalPages: totalPages
                    });
                }
            });
          </script>
        
    </head>
    <div layout:fragment="content" class="content">
        <!--DESKTOP HEADER-->
        <div class="header">
            <!--ITEM1-->
            <div class="header-item1">
                <form class="search-form" id="order-history-form" action="/order/history/search">
                    <input type="hidden" name="page" th:value="1"/>
                    <input type="hidden" name="size" th:value="${dynamoResultPage.getSize()}"/>
                    <!--검색 input-->
                    <div class="input-group-shadow">
                        
                        <input 
                               th:if="${searchForm != null && searchForm.getQuery() != ''}"
                               class="pimcs-bd-group-input text-size-middle" 
                               name="query"  
                               placeholder="Search by product name"
                               th:value="${searchForm.getQuery()}"
                               />
                        
                        <input 
                            th:unless="${searchForm != null && searchForm.getQuery() != ''}"
                            class="pimcs-bd-group-input text-size-middle" 
                            name="query"  
                            
                            placeholder="Search by product name"
                        />
                        
                        <span class="input-group-text-shadow"><i class="bi bi-search"></i></span>
                    </div>
                    <div class="d-flex">
                        <!--select date-->
                        <div class="input-group-shadow datepicker-container">
                            <input 
                                    th:if="${searchForm != null && searchForm.getStartDate() != null}"
                                    type="date" 
                                    id="start-date"  
                                    class="pimcs-bd-group-input text-size-middle" 
                                    name="startDate" 
                                    th:value="${searchForm.getStartDate()}"
                                    />
                            <input 
                                th:unless="${searchForm != null && searchForm.getStartDate() != null}"
                                type="date" 
                                id="start-date"  
                                class="pimcs-bd-group-input text-size-middle" 
                                name="startDate" 
                                />
                            

                            <span class="input-group-text-shadow d-flex justify-content-center">~</span>
                            <input  
                                    th:if="${searchForm != null && searchForm.getEndDate() != null}"
                                    type="date" 
                                    id="end-date" 
                                    class="pimcs-bd-group-input text-size-middle" 
                                    name="endDate" 
                                    th:value="${searchForm.getEndDate()}"
                                />
                            <input  
                                th:unless="${searchForm != null && searchForm.getEndDate() != null}"
                                type="date" 
                                id="end-date" 
                                class="pimcs-bd-group-input text-size-middle" 
                                name="endDate" 
                                
                            />
                            
                        </div>
                        
                        <button class="pimcs-blue-btn inquiry-btn" id="order-inquiry-btn">조회</button>
                    </div>
                </form>

                <!--show items-->
                <div class="show-item-container desktop-show-item-container">
                    show
                    <select class="show-item-select">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    items per page
                </div>
                
            </div>

            <!--ITEM2-->
            <div class="header-item2 d-flex justify-content-end">
                <div class="rect csv-download-btn">
                    <a class="a-remove-attr" >CSV Download</a>
                </div>
            </div>
            
        </div>


        <!--PAGINATION-->
        <div aria-label="Page navigation" class="pagination-container d-flex justify-content-center">
            <ul id="desktop-pagination" class="pagination text-size-between-middle-samll"></ul>
        </div>

        <!--MOBLIE PAGINATION-->
        <div class="mobile-pagination-container d-flex justify-content-end">
            
            <ul id="mobile-pagination" class="pagination text-size-between-middle-samll"></ul>
            <div class="show-item-container d-flex align-items-end">
                show
                <select class="show-item-select">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                items per page
            </div>
        </div>
        <!--TABLE-->
        <div class="pimcs-table-container">
        
            <table class="table pimcs-table">
                <thead>
                    <tr class="text-size-middle">
                        <th scope="col col-md-2" >시리얼 번호</th>
                        <th scope="col col-md-2" >위치</th>
                        <th scope="col col-md-2" >주문 이메일</th>
                        <th scope="col col-md-2" >상품명</th>
                        <th scope="col col-md-2" >상품코드</th>
                        <th scope="col col-md-2" >현재재고</th>
                        <th scope="col col-md-2" >임계값</th>
                        <th scope="col col-md-2" >상품주문갯수</th>
                        <th scope="col col-md-2" >발주 시간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="orderHistory : ${dynamoResultPage.getData()}">
                        
                        <td class="text-size-between-middle-samll" th:text="${orderHistory.getMatSerialNumber()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${orderHistory.getLocation()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${orderHistory.getMailRecipients().toString()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${orderHistory.getProductName()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${orderHistory.getProductCode()}"></td>
                        
                        <td class="text-size-between-middle-samll" th:text="${orderHistory.getInventoryCnt()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${orderHistory.getThreshold()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${orderHistory.getOrderCnt()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${#temporals.format(orderHistory.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</html>
