<!DOCTYPE html>
<html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <title>Cocoon</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>


<section>
    <h1>회원가입 페이지</h1>
</section>

<section style="display:flex;">

    <form name="signUp" th:action="@{/order/mat}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <section th:each="matCategory,i:${matCategoryList}">
            <p style="margin-bottom: 0px" th:text="${matCategory.getMatCategoryName()}+'&nbsp&nbsp' + ${matCategory.getMatInformation()}"></p>
            <input th:name="'matCategoryIdList['+${i.index}+']'" type="hidden" th:value="${matCategory.getId()}">
            <input th:name="'matCategoryOrderList['+${i.index}+'].orderCnt'" type="number" min="0"><br>
        </section>

        <div>
            희망 배송일<br>
            <input type="date" id="hopeDate" min="2022-01-0" name="hopeDeliveryDate"><br>
            주문자 이름<br>
            <input type="text" name="depositerName"><br>
            <section class="postService">
                <input type="text" placeholder="우편번호" id="postCode" min="0" name="postCode">
                <input type="button" value="우편번호 찾기" onclick="searchPostCode()"><br>
                <input type="text" placeholder="주소" id="deliveryAddress" min="0" name="deliveryAddress">
                <input type="text" placeholder="상세 주소" id="detailAddress" name="detailAddress"><br>
            </section>
        </div>
        <input type="submit" th:value="주문완료">
    </form>
</section>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    let date = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().slice(0, 10);
    $("#hopeDate").prop("min",date);
    function searchPostCode(){
        new daum.Postcode({
            oncomplete: function(data) {
                $("#postCode").prop("value",data.zonecode);
                $("#deliveryAddress").prop("value",data.address);
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                // 예제를 참고하여 다양한 활용법을 확인해 보세요.
            }
        }).open();

    }

</script>
<script type="text/javascript">


</script>

</body>
</html>