<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
    <head>
        <title>제품카테고리등록</title>
        <link rel="stylesheet" href="/css/productCategory/createProductCategory.css"/>
        <script src="/js/productCategory/createProductCategory.js"></script>
        <script>
            jQuery(function ($) {
                init();
            });
        </script>
    </head>
    <div layout:fragment="content" class="content product-category-container">
        <!--카테고리 등록-->
        <div class="card-conatiner col-md-5">
            <p class="text-size-middle card-label">카테고리 등록</p>
            <div class="card">
                <form th:action="@{/products/category}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <p class="text-size-between-middle-samll category-name-label">카테고리 명</p>
                    <input required name="categoryName" class="pimcs-bd-input input text-size-between-middle-samll" placeholder="카테고리 입력"/>
                    
                    <div class="text-center">
                        <input type="submit" class="pimcs-blue-btn text-size-between-middle-samll save-btn" value="저장하기"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="vertical-line"></div>
        <!--등록된 카테고리-->
        <div class="card-conatiner">
            <p class="text-size-middle card-label">등록된 카테고리</p>
            <form>
                <div class="input-group-shadow">
                    <input class="pimcs-bd-group-input text-size-middle category-name-search" placeholder="Search"/>
                    <span class="input-group-text-shadow"><i class="bi bi-search"></i></span>
                </div>
            </form>
            <div class="card category-list-card mt-3">
                <ul class="categories">
                    <li class="category d-flex"  th:each="productCategory : ${productCategories}">
                        <p th:data="${productCategory.getId()}" th:text="${productCategory.getCategoryName()}" class="categories-name-text text-size-between-middle-samll"></p>
                        <i class="bi bi-x-lg delete-category-btn text-size-between-middle-samll" th:data="${productCategory.getId()}"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</html>