<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
    <head>
        <title>입・출고 내역 그래프</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <!--datepicker-->
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <script src="/js/jquery-ui.min.js"></script>
        <!--CHART-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!--IN OUT HISTORY GRAPH-->
        <link rel="stylesheet" href="/css/inOutHistory/inOutHistoryGraph.css"/>
        <script src="/js/inOutHistory/inOutHistoryGraph.js"></script>
        
        <script>
            $(function(){
                /*<![CDATA[*/
                    let serialNumberList = "[[${matSerialNumberList}]]";
                /*]]>*/
                
                setCheckedData(serialNumberList);

                lazyLoadGraph.observe(document.querySelector('.scroll-detecting'));


            });
        </script>

    </head>
    <div layout:fragment="content" class="content">
        
        <!--HEADER-->
        <div class="header-item1">
            <form class="search-form">
                <!--검색 input-->
                <div class="input-group-shadow">
                    <input class="pimcs-bd-group-input text-size-middle" placeholder="Search"/>
                    <span class="input-group-text-shadow"><i class="bi bi-search"></i></span>
                </div>
                <!--button-->
                <button class="rect">HOUR</button>
                <button class="rect active">DAY</button>
                <button class="rect">WEEK</button>
                <button class="rect">MONTH</button>
                <!--select date-->
                <div class="input-group-shadow datepicker-container">
                    <span class="input-group-text-shadow"><i class="bi bi-calendar-check"></i></span>
                    <input id="start-date" class="pimcs-bd-group-input text-size-middle " placeholder="yy.mm.dd"/>
                    <span class="input-group-text-shadow d-flex justify-content-center">~</span>
                    <input id="end-date" class="pimcs-bd-group-input text-size-middle" placeholder="yy.mm.dd"/>
                </div>
            </form>
        </div>
        <!--HEADER END-->
        <div class="graph-container">
            <canvas id="myChart"></canvas>
            
            <div class="scroll-detecting" style="width: 5px; height: 5px;"></div>
            <div class="d-flex justify-content-center mt-3" >
                <div class="loading-spinner spinner-border text-primary" role="status" style="display:none;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <script>
            /*<![CDATA[*/
                

            /*]]>*/
            // console.log(labels);

            labels = [
                'January',
                // 'February',
                // 'March',
                // 'April',
                // 'May',
                // 'June',
            ];

            const data = {
                labels: labels,
                datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: '#209cee',
                // data: [0, 10, 5, 2, 20, 30, 45],
                data: [10],
                }]
            };

            const config = {
                type: 'line',
                data: data,
                options: {}
            };
            new Chart(
                document.getElementById('myChart'),
                config
            );
            
        </script>
    </div>
</html>
