<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
    <head>
        <title>입・출고 내역</title>
        
        <!--PAGINATION-->
        <script type="text/javascript" src="/js/jquery.twbsPagination.js"></script>
        <!--IN OUT HISTORY-->
        <link rel="stylesheet" href="/css/inOutHistory/inOutHistory.css"/>
        <script src="/js/inOutHistory/inOutHistory.js"></script>
        <script>
            $(function(){
              
                /*<![CDATA[*/
                    let totalPages = "[[${dynamoResultPage.getTotalPage()}]]";
                    let page = "[[${dynamoResultPage.getPage()}]]";
                    let size = "[[${dynamoResultPage.getSize()}]]";
                /*]]>*/

                pagination({
                    page: page,
                    size: size,
                    totalPages: totalPages
                });
            
                initShowItems();
            })
          </script>
        
    </head>
    <div layout:fragment="content" class="content">
        <!--DESKTOP HEADER-->
        <div class="header">
            <!--ITEM1-->
            <div class="header-item1">
                <form class="search-form" method="get" id="inout-history-form" action="/mats/history">
                    <input type="hidden" name="page" th:value="1"/>
                    <input type="hidden" name="size" th:value="${dynamoResultPage.getSize()}"/>
                    <!--검색 input-->
                    <div class="input-group-shadow">
                        <input th:if="${inOutHistorySearchForm != null && inOutHistorySearchForm.getQuery() != ''}" 
                               class="pimcs-bd-group-input text-size-middle" 
                               th:value="${inOutHistorySearchForm.getQuery()}"
                               placeholder="Search by product name"
                               name="query"
                              />
                        <input th:unless="${inOutHistorySearchForm != null && inOutHistorySearchForm.getQuery() != ''}" 
                               class="pimcs-bd-group-input text-size-middle" 
                               name="query"  
                               placeholder="Search by product name"
                               />
                        <span class="input-group-text-shadow"><i class="bi bi-search"></i></span>
                    </div>
                    <div class="d-flex">
                        <!--select date-->
                        <div class="input-group-shadow datepicker-container">
                            <input th:if="${inOutHistorySearchForm != null && inOutHistorySearchForm.getStartDate() != null}" 
                                    type="date" 
                                    id="start-date"  
                                    class="pimcs-bd-group-input text-size-middle" 
                                    name="startDate" 
                                    th:value="${inOutHistorySearchForm.getStartDate()}"
                                    />
                            <input th:unless="${inOutHistorySearchForm != null && inOutHistorySearchForm.getStartDate() != null}" 
                                type="date" 
                                id="start-date"  
                                class="pimcs-bd-group-input text-size-middle" 
                                placeholder="Search by product name"
                                name="startDate" 
                            />

                            <span class="input-group-text-shadow d-flex justify-content-center">~</span>
                            <input  th:if="${inOutHistorySearchForm != null && inOutHistorySearchForm.getEndDate() != null}" 
                                    type="date" 
                                    id="end-date" 
                                    class="pimcs-bd-group-input text-size-middle" 
                                    name="endDate" 
                                    th:value="${inOutHistorySearchForm.getEndDate()}"
                                />
                            <input  th:unless="${inOutHistorySearchForm != null && inOutHistorySearchForm.getEndDate() != null}" 
                                    type="date" 
                                    id="end-date" 
                                    class="pimcs-bd-group-input text-size-middle" 
                                    name="endDate" 
                                />
                        </div>
                        
                        <button class="pimcs-blue-btn inquiry-btn" id="inout-history-inquiry-btn">조회</button>
                    </div>
                </form>

                <!--show items-->
                <div class="show-item-container desktop-show-item-container">
                    show
                    <select class="show-item-select">
                        <option selected>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    items per page
                </div>
                
            </div>

            <!--ITEM2-->
            <div class="header-item2 d-flex justify-content-end">
                <div class="rect csv-download-btn">
                    <a class="a-remove-attr" >CSV Download</a>
                </div>
            </div>
            
        </div>


        <!--PAGINATION-->
        <div aria-label="Page navigation" class="pagination-container d-flex justify-content-center">
            <ul id="desktop-pagination" class="pagination text-size-between-middle-samll"></ul>
        </div>

        <!--MOBLIE PAGINATION-->
        <div class="mobile-pagination-container d-flex justify-content-end">
            
            <ul id="mobile-pagination" class="pagination text-size-between-middle-samll"></ul>
            <div class="show-item-container d-flex align-items-end">
                show
                <select class="show-item-select">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                items per page
            </div>
        </div>
        <!--TABLE-->
        <div class="pimcs-table-container">
        
            <table class="table pimcs-table">
                <thead>
                    <tr class="text-size-middle">
                        <th scope="col col-md-2" >입/출고 시간</th>
                        <th scope="col col-md-2" >시리얼 번호</th>
                        <th scope="col col-md-2" >제품 이름</th>
                        <th scope="col col-md-2" >제품 코드</th>
                        <th scope="col col-md-2" >장소</th>
                        <th scope="col col-md-2" >입/출고 상태</th>
                        <th scope="col col-md-2" >개/g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="inOutHistory : ${dynamoResultPage.getData()}">
                        
                        <td class="text-size-between-middle-samll" th:text="${#temporals.format(inOutHistory.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></td>
                        <td class="text-size-between-middle-samll" th:text="${inOutHistory.getMatSerialNumber()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${inOutHistory.getProductName()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${inOutHistory.getProductCode()}"></td>
                        <td class="text-size-between-middle-samll" th:text="${inOutHistory.getMatLocation()}"></td>
                        <td th:if="${inOutHistory.getInOutStatus.toString() == 'IN'}">
                            <div class="in text-size-between-middle-samll">입고</div>
                        </td>
                        <td th:unless="${inOutHistory.getInOutStatus.toString() == 'IN'}">
                            <div class="out text-size-between-middle-samll">출고</div>
                        </td>

                        <td th:if="${inOutHistory.getCalcMethod() == 0}" class="text-size-between-middle-samll" th:text='${inOutHistory.getUpdateCnt()+"g"}'></td>
                        <td th:unless="${inOutHistory.getCalcMethod() == 0}" class="text-size-between-middle-samll" th:text='${inOutHistory.getUpdateCnt()+"개"}'></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</html>
