<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
    <head>
        <title>입・출고 내역 그래프</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <!--datepicker-->
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <script src="/js/jquery-ui.min.js"></script>
        <!--CHART-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!--IN OUT HISTORY GRAPH-->
        <link rel="stylesheet" href="/css/inOutHistory/inOutHistoryGraph.css"/>
        <script src="/js/inOutHistory/inOutHistoryGraph.js"></script>
        
        <script>
            $(function(){
                /*<![CDATA[*/
                    let serialNumberList = "[[${matGraphForm}]]";
                /*]]>*/
                
                setCheckedData(serialNumberList);

                lazyLoadGraph.observe(document.querySelector('.scroll-detecting'));

                // let graphData = loadGraphData("/inout/history/graph/day",4);
                // //일별그래프 생성
                // createGraphDay(graphData);
            });
        </script>

    </head>
    <div layout:fragment="content" class="content">
        
        <!--HEADER-->
        <div class="header-item1">
            <form class="search-form">
                
                <!--button-->
                <button class="rect time-dimension" id="hour-btn">HOUR</button>
                <button class="rect time-dimension" id="day-btn">DAY</button>
                <button class="rect time-dimension" id="week-btn">WEEK</button>
                <button class="rect time-dimension" id="month-btn">MONTH</button>
                <!--select date-->
                <div class="input-group-shadow datepicker-container">
                    <input id="start-date" type="date" class="pimcs-bd-group-input text-size-middle start-date"/>
                    <span class="input-group-text-shadow d-flex justify-content-center">~</span>
                    <input id="end-date" type="date" class="pimcs-bd-group-input text-size-middle end-date"/>
                </div>

                <button class="pimcs-blue-btn inquiry-btn">조회</button>
            </form>
        </div>
        <div class="header-item2 d-flex justify-content-end">
            <div class="rect csv-download-btn">
                <a class="a-remove-attr" >CSV Download</a>
            </div>
        </div>
        <!--HEADER END-->
        <div class="graph-container">
            <div class="canvas-container">

            </div>
            <div class="scroll-detecting" style="width: 5px; height: 5px;"></div>
            <div class="d-flex justify-content-center mt-3" >
                <div class="loading-spinner spinner-border text-primary" role="status" style="display:none;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <!--csv download form-->
        <form th:action="@{/download/inout/history/graph/csv}" style="display: none;" id="csv-download-form" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            <input name="startDate" type="date" class="start-date"/>
            <input name="endDate" type="date" class="end-date"/>
            <input name="timeDimension" type="text"/>
            <div id="csv-form-dynamic-append-container">

            </div>
        </form>
    </div>
</html>
