<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  href="/css/company/companyInfoModify.css">
    <script src="https://kit.fontawesome.com/f55bf8539a.js" crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <title>회사 정보</title>
</head>
<div layout:fragment="content"  class="content">


    <div class="container">
        <!--Edit Company Imformation-->
        <form th:action="@{/companies}" method="POST">
            <input type="hidden" name="_method" value="PUT"/>
            <legend>
                <div class="photo">
                    <img src="/img/logo2.png">
                </div>
                <div th:class="compnay-name"><input required type="text" th:value="${company.getCompanyName}" th:name="companyName"></input></div>

                <!-- <></> -->
            </legend>

            <fieldset>
                    <div class="item">
                        <div class="item-inner">
                            <label for="company-code">회사코드</label><br>
                            <i id="copyBtn" class="fa-solid fa-copy" onclick="copyCode()"></i>
                            <input required type="text" id="company-code" th:name="companyCode" th:value="${company.getCompanyCode}" disabled ><br>
                        </div>
                        <div class="item-inner">
                            <label for="company-addr"></label>회사 주소</label><br>
                            <input required type="text" id="company-addr" name="companyAddress" th:value="${company.getCompanyAddress}"><br>
                        </div>
                        <div class="item-inner">
                            <label for="industry">업종</label><br>
                            <select th:if="${company.getBusinessCategoryId() != null}" id="select-box"  name="businessCategoryId.id">
                                <th:block th:each="category : ${businessCategories}">
                                    <option th:if="${category.getId() == company.getBusinessCategoryId.getId()}" selected th:value="${category.getId()}" th:text="${category.getCategoryName}"></option>
                                    <option th:unless="${category.getId() == company.getBusinessCategoryId.getId()}" th:value="${category.getId()}" th:text="${category.getCategoryName}"></option>
                                </th:block>
                            </select>
                            <select th:unless="${company.getBusinessCategoryId() != null}" id="select-box"  name="businessCategoryId.id">
                                <option value="" th:text="업종을 선택해주세요."></option>
                                <th:block th:each="category : ${businessCategories}">
                                    <option th:value="${category.getId()}" th:text="${category.getCategoryName()}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-inner">
                            <label for="E-mail" >이메일</label><br>
                            <input required type="email" id="E-mail" name="ceoEmail" th:value="${company.getCeoEmail}" ><br>
                        </div>
                        <div class="item-inner">
                            <label for="company-number"></label>회사 전화번호</label><br>
                            <input required type="text" id="company-number"  name="contactPhone" th:value="${company.getContactPhone}"><br>
                        </div>
                        <div class="item-inner">
                            <label for="CEO">대표 이름</label><br>
                            <input required type="text" id="CEO" name="ceoName" th:value="${company.getCeoName}"><br>
                        </div>
                    </div>
            </fieldset>
            <p><input required type="submit" th:value="저장하기"></p>
        </form>






    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        //정보 수정시 변경되었다 알림
        let path = window.location.pathname
        if(path=="/companies"){
            alert("회사정보가 변경되었습니다.")
        }
        function copyCode(){
            let companyCode=$("#company-code");
            companyCode.attr("disabled",false);
            companyCode.select()
            document.execCommand('copy');
            companyCode.attr("disabled",true);
            alert("회사 코드가 복사되었습니다. ");
        }
    </script>
</div>
</html>