
.inquery-mat-container{
    padding-top: 45px;
    padding-left: 34px;
}

.pimcs-select{
    background: #ffffff;
    width: 103px;
    height: 28px;
} 
.inquery-mat-header-left-box input{
    margin-left: 14px;
    width: 206px;
    height: 28px;
}