
/*HEADER*/
.header-item1{
    display: flex;
}
.header-item2{
    width: 93%;
    margin-right: 124px;
    margin-top: 16px;
}
.header-item2 .rect{
    width: 93px;
    height: 30px;

}
/*SEARCH FORM*/
.header-item1 .search-form{
    display: flex;
    width: 97%;
}
/*search input*/
.header-item1 .input-group-shadow{
    width: 314px;
    height: 25px;
}
.header-item1 .bi-search,
.header-item1 .bi-calendar-check {
    color: #afafaf;
    margin-right: 10px;
}
.bi-calendar-check{
    margin-left: 6px;
}
/*header button*/
.rect {
    width: 61px;
    height: 25px;
    margin-left: 5px;
    border: 2px solid #ffffff;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rect.active{
    background-color:#4d83f7;
    color: #fff;
    border-color: #4d83f7;
}
.pimcs-blue-btn{
    width: 61px;
    height: 25px;
    font-size: 12px;
    margin-left: 20px;
}

/*datepicker*/
.datepicker-container{
    margin-left: 20px;
}
.header-item1 .show-item-container{
    display: flex;
    align-items: center;
    font-size: 12px;
}


.header-item1 .show-item-select {
    width: 45px;
    height: 24px;
    border: 2px solid #ffffff;
    border-radius: 6px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #fafafa;
    color: #4282ff;
    font-size: 12px;
    margin: 0 5px;
}

/*button*/
button{
    border: 0;
    outline: 0;
    background: #fff;
}

/*GRAPH CONTAINER*/
.graph-container{
    width: 97%;
    height: 90%;
    margin-top: 22px;
    overflow-y: auto;
}
/*canvas*/

canvas{
    margin-top: 17px;
    margin-bottom: 26px;
}


