<div  class="card d-flex">
    <div class="input-section">
        <div class="d-flex form-group-container">
            <!-- 제품명 -->
            <div class="form-group">
                <p class="text-size-middle input-label">제품명</p>
                <input th:name="|productForms[${index}].productName|" data="productName" class="pimcs-blue-input input"/>
            </div>
            <!--제품코드-->
            <div class="form-group">
                <p class="text-size-middle input-label">제품 코드</p>
                <input th:name="|productForms[${index}].productCode|" data="productCode" class="pimcs-blue-input input"/>
            </div>
        </div>
        <div class="d-flex form-group-container">
            <!--제품카테고리-->
            <div class="form-group mt">
                <p class="text-size-middle input-label">제품 카테고리</p>
                <input th:name="|productForms[${index}].productCategory|" data="productCategory" class="pimcs-blue-input input"/>
            </div>
            <!--제품무게-->
            <div class="form-group mt">
                
                <p class="text-size-middle input-label">제품 무게</p>
                <input type="number" th:name="|productForms[${index}].productWeight|" data="productWeight" class="pimcs-blue-input input"/>
            </div>
        </div>
    </div>
    <div class="img-section text-right">
        <p class="text-size-between-middle-samll">제품 이미지:</p>
        <label for="product-img-file" class="img-view text-size-between-middle-samll">
            이미지를 끌어다 놓으세요.
        </label>
        <input type="file" style="display: none;" id="product-img-file" class="product-img-file" />
        
    </div>
    <i class="bi bi-x-lg delete-card-view-btn"></i>
</div>