<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="addMat" >
    <!-- Modal -->
    <div class="modal fade" id="addMat" tabindex="-1" aria-labelledby="배송" aria-hidden="true">
        <div class="modal-dialog modal-l">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >추가할 기기 시리얼 입력</h5>
                    <button type="button" class="btn-close add-mat-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body delivery-body">

                    <div class="input-result-section">
                        <div class="img-section text-right">
                            <strong >기기를 입력<br><br></strong>
                            <form id="input-device" class="input-device">
                                <input id="input-serial" th:type="text" class="form-control input-device-item" placeholder="시리얼을 입력하세요" required>
                            </form >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"></button>-->
                    <!--                    <button id="form-change-button" type="button" class="btn btn-primary" onclick="inputFormChange()" >직접 입력</button>-->
                    <button id="add-mat-button" type="button" class="btn btn-primary" >저장</button>
                </div>
            </div>
        </div>
    </div>
    <!--입금상태 변경 모달-->
</div>
<script>

</script>
</html>