<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="mappingSerial" >
    <!-- Modal -->
    <div class="modal fade" id="deliveryModal" tabindex="-1" aria-labelledby="배송" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >배송된 제품 시리얼 입력</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body delivery-body">

                    <div class="img-section text-right csv-input" id="csv-input">
                        <strong>CSV 입력:</strong>
                        <label for="product-img-file" class="img-view text-size-between-middle-small text-center">
                            <span>파일을 입력해주세요</span>
                        </label>
                        <input type="file" onchange="readExcel()" style="display: none;" id="product-img-file" name="productImage" class="product-img-file" />
                    </div>

<!--                    <div class="self-input-section" id="self-input">-->
<!--                        <strong>직접 입력<br><br><br></strong>-->
<!--                        <div id="self-input-item" class="self-input-item">-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="input-result-section">
                        <div class="img-section text-right">
                            <strong >입력된 기기<br><br>
                                총 주문 대수: <span class="orderCnt"></span></strong>
                            <form id="input-device" class="input-device">
                            </form >
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"></button>-->
<!--                    <button id="form-change-button" type="button" class="btn btn-primary" onclick="inputFormChange()" >직접 입력</button>-->
                    <button type="button" class="btn btn-primary" onclick="deliverySave()">저장</button>
                </div>
            </div>
        </div>
    </div>
    <!--입금상태 변경 모달-->
    <div class="modal fade " id="depositModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="depositModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    입금이 완료되었습니까?
                </div>
                <div class="modal-footer">
                    <button id="depositComplete" type="button" class=" btn btn-secondary" data-bs-dismiss="modal">예</button>
                    <button id="depositIncomplete" type="button" class="btn btn-primary">아니오</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</html>