<!DOCTYPE html> <html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" class="d-flex">

    
    <div class="header-left-box d-flex">
        <div class="menu-icon-box">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </div>
        <div class="logo-icon-box" onclick="location.href='/'">
            <img src="/img/logo.png"/>
        </div>

    </div>

    <div class="header-right-box d-flex justify-content-end">
        
        <p class="text-size-middle desktop">RE-Book</p>
        <p class="text-size-small desktop">2543817958@qq.com</p>
        <!--profile 아이콘-->
        <div class="dropdown">
            <div class="profile-icon-box" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                
                <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff"  class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                
                
                <svg xmlns="http://www.w3.org/2000/svg"  fill="#ffffff" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
                
                
            </div>
            
            <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton1">
                <li><span class="dropdown-item-text text-size-middle mobile">2543817958@qq.com</span></li>
                <li><a class="dropdown-item text-size-between-middle-samll" href="#">로그아웃</a></li>
                <li><a class="dropdown-item text-size-between-middle-samll" href="#">개인 정보 수정</a></li>
                <li><span class="dropdown-item-text text-size-middle mobile">RE-Book</span></li>
                <li><a class="dropdown-item text-size-between-middle-samll" href="#">회사정보</a></li>
            </ul>
            
        </div>        
        <!--하향 아이콘-->
        <!-- <div class="header-dropdown-icon">
            
        </div> -->
        
    </div>
</header>

