<!DOCTYPE html> <html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navigationFragment">
    <details>
        <summary>Inventory Management</summary>
               
        <div markdown="1">
            <div class="active nav-sub-item">입・출고 내역</div>
            <div class="nav-sub-item">재고 목록</div>
            <div class="nav-sub-item">기기 목록</div>
            <div class="nav-sub-item">기기 등록</div>
            <div class="nav-sub-item">상품 목록</div>
        </div>
    </details>

    <details>
        <summary>Order</summary>
        <div markdown="1">   
            <div class="nav-sub-item">발주 내역</div>    
            <div class="nav-sub-item">발주 통계</div>
        </div>
    </details>
    
    <details>
        <summary>Company Information</summary>
        <div markdown="1">       
            <div class="nav-sub-item">회사 정보 수정</div>
            <div class="nav-sub-item">승인 대기 목록</div>
            <div class="nav-sub-item">사원 목록 및 권한</div>
            
        </div>
    </details>

    <details>
        <summary>Other</summary>
        <div markdown="1">       
            <div class="nav-sub-item">기기 배송 현황</div>
            <div class="nav-sub-item">기기 주문</div>
            <div class="nav-sub-item">Q&A</div>
            
        </div>
    </details>

    
</nav>