<!DOCTYPE html> <html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navigationFragment">
    <details>
        <summary class="text-size-middle">Inventory Management</summary>
               
        <div markdown="1">
            <div class="nav-sub-item text-size-between-middle-samll">입・출고 내역</div>
            <div class="active nav-sub-item text-size-between-middle-samll">재고 목록</div>
            <div class="nav-sub-item text-size-between-middle-samll">기기 목록</div>
            <div class="nav-sub-item text-size-between-middle-samll">기기 등록</div>
            <div class="nav-sub-item text-size-between-middle-samll">상품 목록</div>
        </div>
    </details>

    <details>
        <summary class="text-size-middle">Order</summary>
        <div markdown="1">   
            <div class="nav-sub-item text-size-between-middle-samll">발주 내역</div>    
            <div class="nav-sub-item text-size-between-middle-samll">발주 통계</div>
        </div>
    </details>
    
    <details>
        <summary class="text-size-middle">Company Information</summary>
        <div markdown="1">       
            <div class="nav-sub-item text-size-between-middle-samll">회사 정보 수정</div>
            <div class="nav-sub-item text-size-between-middle-samll">승인 대기 목록</div>
            <div class="nav-sub-item text-size-between-middle-samll">사원 목록 및 권한</div>
            
        </div>
    </details>

    <details>
        <summary class="text-size-middle">Other</summary>
        <div markdown="1">       
            <div class="nav-sub-item text-size-between-middle-samll">기기 배송 현황</div>
            <div class="nav-sub-item text-size-between-middle-samll">기기 주문</div>
            <div class="nav-sub-item text-size-between-middle-samll">Q&A</div>
            
        </div>
    </details>

    
</nav>