<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>매트조회</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/mat/readMat/readMat.css" />
    <link rel="stylesheet" href="/css/mat/readMat/modal/displaySettingModal.css" />
    <link rel="stylesheet" href="/css/mat/updateMatCommon.css"/>
    <script type="text/javascript" src="/js/jquery.twbsPagination.js"></script>
    <script type="text/javascript" src="/js/mat/readMat/readMatCommon.js"></script>
    <script type="text/javascript" src="/js/mat/readMat/readMatTable.js"></script>
    <script type="text/javascript" src="/js/mat/readMat/readMatCardView.js"></script>
    <script type="text/javascript" src="/js/mat/readMat/modal/displaySettingModal.js"></script>
    <script src="/js/mat/updateMat/updateMatModalCommon.js"></script>

    <script type="text/javascript" th:inline="javascript">
        jQuery(function ($) {
            //초기화 
            init();
            //테이블 데이터 초기화
            initTableData({page:1, size:10});
            initSearchMatForm();
        });
    </script>


    
</head>
<div layout:fragment="content" class="content inquery-mat-container" >
    <!--display setting 모달 include-->
    <div th:replace="mat/readMat/modal/displaySettingModal :: displaySettingModal"></div>
    <!--계산방식변경 모달-->
    <div th:replace="mat/updateMat/updateCalcMethodModal :: calcMethod"></div>
    <!--임계값변경 모달-->
    <div th:replace="mat/updateMat/updateThresholdModal :: threshold"></div>
    <!--위치값변경 모달-->
    <div th:replace="mat/updateMat/updateLocationModal :: location"></div>
    <!--상품주문개수 변경 모달-->
    <div th:replace="mat/updateMat/updateProductOderCntModal :: productOrderCnt"></div>
    <!--박스무게 변경 모달-->
    <div th:replace="mat/updateMat/updateBoxWeightModal :: boxWeight"></div>
    <!--상품 변경 모달-->
    <div th:replace="mat/updateMat/updateProductModal :: product"></div>
    <!--주문이메일 변경 모달-->
    <div th:replace="mat/updateMat/mailRecipientsModal :: mailRecipients"></div>
    

    <!--DESKTOP 매트조회 헤더-->
    <div class="inquery-mat-header col-md-12">
        <!--DESKTOP header left box-->
        
        <form method="get" class="inquery-mat-header-left-box col-md-6 d-flex">
            <select class="pimcs-select-shadow text-size-middle" name="searchType" onchange="changeSearchType(this)">
                <option value="serialNumber">시리얼 번호</option>
                <option value="matLocation">매트 위치</option>
                <option value="productCode">제품 코드</option>
                <option value="productName">제품명</option>
                <option value="matVersion">기기버전</option>
            </select>
            <!--검색 input-->
            <div class="input-group-shadow search-input-container" style="width: 206px;">
                <input class="pimcs-bd-group-input text-size-middle search-input" name="searchQuery" placeholder="Search by serial number"/>
                <span class="input-group-text-shadow"><i class="bi bi-search"></i></span>
            </div>
            
        </form>
        
        <!--DESKTOP header right box-->
        <div class="inquery-mat-header-right-box col-md-6 d-flex">
            <div class="show-item-container">
                show
                <select class="show-item-select">
                    <option selected>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                items per page
            </div>
            <div class="viewer-btn-container d-flex">
                <div class="table-viewer-btn table-viewer-active"></div>
                <div class="card-viewer-btn"></div>
            </div>

        </div>
    </div>
    <!--DESKTOP 매트조회 헤더-->
    <div class="mobile-inquery-mat-header col-md-12">
        <div class="d-flex">
            
            <select class="pimcs-select-shadow text-size-middle" name="searchType" onchange="changeSearchType(this)">
                <option value="serialNumber">시리얼 번호</option>
                <option value="matLocation">매트 위치</option>
                <option value="productCode">제품 코드</option>
                <option value="productName">제품명</option>
                <option value="matVersion">기기버전</option>
            </select>
            
            <div class="input-group-shadow search-input-container">
                <input class="pimcs-bd-group-input text-size-middle search-input" name="searchQuery" placeholder="Search by serial number"/>
                <span class="input-group-text-shadow"><i class="bi bi-search"></i></span>
            </div>
        </div>
        <div class="viewer-btn-container d-flex">
            <div class="table-viewer-btn table-viewer-active"></div>
            <div class="card-viewer-btn"></div>
        </div>
    </div>
    
    <!--DESKTOP ACTION BUTTON CONTAINER-->
    <div class="action-btn-container">
        <!--DESKTOP ACTION BUTTON LEFT CONTAINER-->
        <div class="action-btn-left-container d-flex">
            
            <div class="square modify-btn" sec:authorize="hasRole('ROLE_InventoryManagement')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff"  class="bi bi-wrench" viewBox="0 0 16 16">
                    <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                </svg><br>
                <ul class="dropdown-menu modify-dropdown">
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="product" target="productModal">상품 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="calcMethod" target="calcMethodModal">계산방식 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="threshold" target="thresholdModal">임계값 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="matLocation" target="locationModal">매트위치 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="productOrderCnt" target="productOrderCntModal">상품주문갯수 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="boxWeight" target="boxWeightModal">박스무게 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="mailRecipients" target="mailRecipientsModal">주문이메일</a></li>
                </ul>
            </div>

            
            <div class="square graph-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff" class="bi bi-graph-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                  </svg>
            </div>
            <div class="square delete-btn" sec:authorize="hasRole('ROLE_InventoryManagement')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </div>

            <p class="inventory-cnt-viewer-container text-size-middle">
                선택된 재고: <span class="inventory-cnt-viewer">0</span>
            </p>
        </div>
        <!--DESKTOP ACTION BUTTON RIGHT CONTAINER-->
        <div class="action-btn-right-container d-flex">
            <div class="rect">
                <a class="a-remove-attr" href="?belowThreshold=true">임계 값미달</a>
            </div>
            <div class="rect download-csv-btn">CSV</div>
            <div class="rect displaySettingBtn" data-bs-toggle="modal" data-bs-target="#displaySettingModal">Setting</div>
        </div>
    </div>
    <!--MOBILE ACTION BUTTON CONTAINER-->
    <div class="mobile-action-btn-container">
        <div class="action-btn-left-container d-flex ">
            <!-- 수정버튼-->
            <div class="square mobile-modify-btn" sec:authorize="hasRole('ROLE_InventoryManagement')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff"  class="bi bi-wrench" viewBox="0 0 16 16">
                    <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                </svg>
                <ul class="dropdown-menu mobile-modify-dropdown">
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="product" target="productModal">상품 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="calcMethod" target="calcMethodModal">계산방식 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="threshold" target="thresholdModal">임계값 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="matLocation" target="locationModal">매트위치 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="productOrderCnt" target="productOrderCntModal">상품주문갯수 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="boxWeight" target="boxWeightModal">박스무게 변경</a></li>
                    <li><a class="dropdown-item text-size-between-middle-samll update-dropdown-item" data="mailRecipients" target="mailRecipientsModal">주문이메일</a></li>
                </ul>
            </div>

            <div class="square graph-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff" class="bi bi-graph-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                  </svg>
            </div>
            <div class="square delete-btn" sec:authorize="hasRole('ROLE_InventoryManagement')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </div>
            <p class="inventory-cnt-viewer-container text-size-middle">
                선택된 재고: <span class="inventory-cnt-viewer">0</span>
            </p>
        </div>
        <div class="action-btn-right-container d-flex">
            <div class="rect">
                <a class="a-remove-attr" href="?belowThreshold=true">임계 값미달</a>
            </div>
            <div class="rect download-csv-btn">CSV</div>
            <div class="rect displaySettingBtn" data-bs-toggle="modal" data-bs-target="#displaySettingModal">Setting</div>
        </div>
        
    </div>
    
    <!--DESKTOP PAGINATION-->
    <div aria-label="Page navigation" class="pagination-container justify-content-center">
        <ul id="desktop-pagination" class="pagination text-size-between-middle-samll"></ul>
    </div>
    <!--MOBLIE PAGINATION-->
    <div class="mobile-pagination-container justify-content-end">
        
        <ul id="mobile-pagination" class="pagination text-size-between-middle-samll"></ul>
        
        
        <div class="show-item-container">
            show
            <select class="show-item-select">
                <option selected>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            items per page
        </div>
    </div>

    <!--TABLE-->
    <div class="pimcs-table-container">
        
        <table class="table pimcs-table content-display">
            <caption></caption>
            <thead>
                <tr class="text-size-middle">
                    <th scope="col" class="text-center"><input class="all-rows-checked" type="checkbox"/></th>
                    <th scope="col" >시리얼 번호</th>
                    <th scope="col" >기기 버전</th>
                    <th scope="col" >제품명</th>
                    <th scope="col" >임계값</th>
                    <th scope="col" >현재 재고</th>
                    <th scope="col" >현재 무게</th>
                    <th scope="col" >잔여 배터리</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
            
        </table>
        <!-- CARD VIEW -->
        <section class="mt-3">
            <div class="px-4 px-lg-5">
                <div class="pimcs-card-container">
                    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3">

                    </div>
                </div>
                
            </div>
        </section>


        <!-- <div class="mobile-pimcs-card-container"></div> -->
    </div>
       
    
    <!--csv download form -->
    <form id="csv-download-form" th:action="@{/download/mat/csv}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

    </form>

    <!--체크된 매트 그래프보내는 폼-->
    <form id="graphForm" method="post" th:action="@{/inout/history/graph}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    </form>


</div>

</html>

