<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <title>제품등록</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--cropper-->
    <link rel="stylesheet" type="text/css" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">
    <script src="https://fengyuanchen.github.io/cropper/js/cropper.js"></script>
    <!--createProduct-->
    <link rel="stylesheet" href="/css/product/createProduct.css"/>
    <script src="/js/product/createProduct.js"></script>
    <!--modal-->
    <link rel="stylesheet" href="/css/product/imageCropModal.css"/>
    <script src="/js/product/imageCropModal.js"></script>
    
</head>
    <div layout:fragment="content" class="content create-product-container">
        <!--image crop modal-->
        <div th:replace="product/createProduct/modal/imageCropModal :: imageCropModal"></div>
        <!--end-->
        
        <h4 class="text-size-between-large-middle page-title">제품 등록</h4>
        <form class="card-container">
             <!--card view-->
             <div class="dynamic-cardview-container">
                <th:block th:replace="product/createProduct/fragment/cardView :: cardView(${productCategories})"> </th:block>
             </div>
            <div  class="pimcs-blue-btn text-size-between-middle-samll save-product-btn">저장하기</div>
        </form>
        <!--등록된 제품-->
        <div class="registered-container">
            <h4 class="text-size-between-large-middle page-title">등록된 제품</h4>
            <div class="registered-card-veiw"></div>
        </div>

        <script>
            const imageCropModal = new bootstrap.Modal(document.getElementById('imageCropModal'), {keyboard: false});
        </script>
    </div>

</html>

