<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/user/login.css" />


</head>
<body>
<div class="wrraper">
<section class="loginForm">
    <img src="/img/logo2.png" ><br><br>
<div th:if="${param.error}" class="failedMessage">
    <p>아이디가 존재하지 않거나 비밀번호가 틀립니다.</p>
</div>
<form th:action="@{/auth/login}" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

    <section class="textWrraper">

        <input class="e_mail"  type="text" required placeholder="이메일" value="ryongho1997@gmail.com" name = "email">
        <br><br>

        <input class="password" type="password" required placeholder="비밀번호" value="huiyih135!" name = "password">
        <br><br>
    </section>

    <p class="check_box" ><input type="checkbox" name="auto_login" value="자동 로그인"> 자동 로그인 </p>
    <br>

    <input class="button" type="submit"  value="로그인">
    <br><br>
    <section class="loginForm-footer">
        <a href='#' class="text" onclick="pwdChange()"> 비밀번호 찾기 </a><span>&nbsp;|&nbsp;</span>
        <a href='/auth/user/choice' class="text"> 회원가입 </a>
    </section>
</form>
</section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function pwdChange(){
        popup=window.open("/auth/pwd","비밀번호 변경","width=734, height=500, top=10, left=10");
    }
</script>
</html>