.product-category-container{
    display: flex;
    flex-direction: row;
}
.product-category-container > div:last-child{
    margin-right: 0px;
}
.product-category-container .card{
    width: 274px;
    height: 155px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    
}
.product-category-container .category-lis-card{
    height: 348px;
}
.product-category-container .card-label{
    font-weight: bold;
    margin-bottom: 29px;
    color: #4282ff;
}

.product-category-container .category-name-label{
    font-weight: bold;
    margin-top: 29px;
    margin-bottom: 12px;
    margin-left: 10%;
}
.product-category-container .input{
    width: 80%;
    height: 29px;
    margin: 0 auto;
  
}
.product-category-container .save-btn{
    width: 70%;
    height: 29px;
    margin: 0 auto;
    margin-top: 18px;
}
.category-list-card{
    height: 291px !important;
}

.product-category-container .vertical-line{
    width: 1px;
    height: 155px;
    margin-top: 49px;
    margin-right: 50px;
    background-color: #d9d9d9;
   
}

.product-category-container .input-group{
    width: 80%;
    height: 29px;
    margin: 0 auto;
    margin-top: 12px;
}
.product-category-container .input-group-text{
    height: 29px;
}


.categories{
    width: 100%;
    height: 100%;
    list-style: none;
    margin-top: 9px;
    overflow-x:hidden; 
    overflow-y:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.categories::-webkit-scrollbar-thumb {background-color: #c7d6ff;}
.categories::-webkit-scrollbar-track{background-color: #c7d6ff;}

.categories > li{
    height: 32px;
    align-items: end;
    padding: 4px;
    padding-left: 10px;
    border-bottom: 1px solid #e0e0e0;
 
}
.categories > li:hover{
    background-color: #e0e0e0;
}

.categories .categories-name-text{
    width: 100%;
}
.categories .delete-category-btn{
    cursor: pointer;
}


/*ICON*/
.bi-search{
    color: #afafaf;
    margin-right: 10px;
}