<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:text="${user.getCompanyCode()}"></h1>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1><br>
<h3 th:inline="text">Your Role: [[${#httpServletRequest.UserPrincipal.Authorities}]]</h3>
<h3 th:inline="text">Your Role: [[${#httpServletRequest.UserPrincipal.Authorities}]]</h3>
<h3 th:inline="text">Your Session: [[${#httpServletRequest.Session}]]</h3>


<form th:action="@{auth/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<h1 sec:authorize="hasRole('ROLE_User')" th:text="hihi"></h1>
</body>
</html>