<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Failed</h1>

<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
<div style="text-align:center;width: 600px;flex-float:column;" action="/company/registration/verify" method="post">
    <span style="margin-right: 205px;text-align:center;width: 188px;height: 40px;font-family: Roboto;font-size: 22px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;text-align: left;color: #4282ff;">PIMCS</span>
    <p style="margin-top: 40px;">안녕하세요 PIMCS입니다.</p>
    <p >인증 확인버튼을 누르면 회사가 등록됩니다.</p>
    <input type="hidden" name="verifyKey" value="">
    <a href="/company/registration/verify?verifyKey=" style="cursor:pointer;width: 155px;height: 50px;padding: 16px 47px 15px 48px;border-radius: 6px;border: solid 1px #dbdbdb;background-color: #4282ff;text-decoration-line : none;text-decoration : none;color: #ffffff;" type="submit" value="확인"></a>
    <input type="button" onclick="location.href=''">
</div>




</body>

</html>