<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>권한없음</title>
</head>
<body>
<h1> 썩물러가거라!</h1>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1><br>
<h3 th:inline="text">Your Role: [[${#httpServletRequest.UserPrincipal.Authorities}]]</h3>
<form th:action="@{/home/auth/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>

<!-- '{"id":1327,"product":{"id":3,"productCode":"12313","productImage":null,"productWeight":66,"productName":"제품1"},"company":{"id":18,"companyCode":"1644299344134","companyName":"sw","companyAddress":"서울시","contactPhone":"010xxxx","ceoEmail":"2543817958@qq.com"},"serialNumber":"sihiuhiuh","calcMethod":0,"threshold":33,"inventoryWeight":0,"recentlyNoticeDate":null,"matLocation":"화장실","productOrderCnt":10,"boxWeight":5,"battery":0,"checked":false}' -->