<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  href="/css/company/workerManagement.css">


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content"  class="content">
    <p> 자주 묻는 질문</p>
    div class="box">

    <div class="title">
        자주 묻는 질문
    </div>

    <div class="group">
        <input class="search" type="text" name="search" placeholder="Q. BMW 풀체인지 신형 7시리즈 소식!">
        <img class="edit_icon" src="아이콘/돋보기.png" >

        <ul class="list">

            <li>
                <HR class="line">
                <details  class="item">
                    <summary class="answer_title">Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                        BMW 풀체인지 신형 7시리즈 소식!
                    </summary>
                    <div class="answer_text" >
                        <hr >
                        Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                        BMW 풀체인지 신형 7시리즈 소식!Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                    </div>
                </details>
            </li>

            <li>
                <HR class="line">
                <details  class="item">
                    <summary class="answer_title">Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                        BMW 풀체인지 신형 7시리즈 소식!
                    </summary>
                    <div class="answer_text" >
                        <hr >
                        Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                        BMW 풀체인지 신형 7시리즈 소식!Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                    </div>
                </details>
            </li>

            <li>
                <HR class="line">
                <details  class="item">
                    <summary class="answer_title">Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                        BMW 풀체인지 신형 7시리즈 소식!
                    </summary>
                    <div class="answer_text" >
                        <hr >
                        Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                        BMW 풀체인지 신형 7시리즈 소식!Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                    </div>
                </details>
            </li>


            <li>
                <HR class="line">
                <details  class="item">
                    <summary class="answer_title">Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                        BMW 풀체인지 신형 7시리즈 소식!
                    </summary>
                    <div class="answer_text" >
                        <hr >
                        Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                        BMW 풀체인지 신형 7시리즈 소식!Q. BMW 풀체인지 신형 7시리즈 소식! feat. i7, BMW 시어터 스크린, 자동 도어, 스플릿 헤드라이트
                    </div>
                </details>
            </li>


        </ul>

        <div class="more">
            <button class="more-btn">더보기</button>
        </div>
    </div>
</div>
</div>
</html>