<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  href="/css/qna/qnaList.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content"  class="content">
    <p class="title">
        Q&A
    </p>
    <section class="action-btn-container">
        <form th:action="@{/company/worker}" method="post" >
            <div class="inquery-mat-header-left-box">
                <select class="search-select" name="selectOption" >
                    <option>이름</option>
                    <option>부서</option>
                </select>
                <div class="search-input-container">
                    <input name="searchVal" type="text" id="search" class="search-input text-size-middle" placeholder="Search" />
                </div>
            </div>
        </form>
        <div class="inquery-mat-header-right-box">
            <div class="action-btn-left-container d-flex">
                <div class="square">
                    <span>글쓰기</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#4282ff" class="bi bi-trash" viewBox="0 0 16 16">
                        <path id="pen-solid_1_" data-name="pen-solid (1)" d="M10.507,1.115a1.857,1.857,0,0,1,2.625,0l1.141,1.142a1.855,1.855,0,0,1,0,2.623l-1.4,1.4L9.105,2.517Zm1.709,5.822L5.461,13.69a2.54,2.54,0,0,1-1.083.643L.892,15.358a.653.653,0,0,1-.688-.2A.637.637,0,0,1,.028,14.5L1.054,11.01A2.554,2.554,0,0,1,1.7,9.927L8.451,3.172Z" transform="translate(0 -0.572)" fill="#fff"/>
                    </svg>
                </svg>

                </div>
            </div>
        </div>
    </section>

    <table class="table pimcs-table">
        <thead>
        <th scope="col" class="text-center">번호</th>
        <th scope="col" class="text-center">제목</th>
        <th scope="col" class="text-center">비밀글 여부</th>
        <th scope="col" class="text-center">작성자</th>
        <th scope="col" class="text-center">등록일</th>
        <th scope="col" class="text-center">답변여부</th>

        </thead>
        <tbody id="pimcs-tbody" class="pimcs-tbody">
        <tr class="worker-tr" th:each="worker:${companyWorker}">
            <td class="name" th:text="${worker.getName()}"></td>
            <td class="email" name="email[]" th:id="${worker.getEmail()}" th:text="${worker.getEmail()}+' '"></td>
            <td th:text="${worker.getPhone()}"></td>
            <td th:text="${worker.getDepartment()}"></td>
            <td th:if="${#strings.contains(worker.getAuthorities(),'InventoryManagement')}"><input class="inventoryManagement" type="checkbox" onclick="checkEvent(this)" checked></td>
            <td th:unless="${#strings.contains(worker.getAuthorities(),'InventoryManagement')}"><input class="inventoryManagement" type="checkbox"  onclick="checkEvent(this)"></td>
            <td th:if="${#strings.contains(worker.getAuthorities(),'UserManagement')}"><input class="UserManagement" type="checkbox" onclick="checkEvent(this)" checked></td>
            <td th:unless="${#strings.contains(worker.getAuthorities(),'UserManagement')}"><input class="UserManagement" type="checkbox" onclick="checkEvent(this)" ></td>
        </tr>
        </tbody>
    </table>




</div>

</html>