<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  href="/css/qna/qnaView.css">


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content"  class="content">
    <p class="title">
        Q&A
    </p>
    <section class="qa-container">
        <section th:class="question">
            <div th:class="qna-title">
                <span th:class="qa-icon">제목</th:block></span>
                <span th:class="write-value" th:text="${question.getTitle()}"></span>
                <div th:if="${question.getAnswer().getId()}!=0" th:class="isAnswer-wrraper"><div th:class="isAnswer-true" >답변 완료</div></div>
                <div th:unless="${question.getAnswer().getId()}!=0" th:class="isAnswer-wrraper"><div th:class="isAnswer-false" >답변 미완료</div></div>
            </div>
                <hr>
                <p ><span th:class="write-label">작성자</span><span th:class="write-value" th:text="${question.getUser().getName()}"></span></p>
                <hr>
                <p ><span th:class="write-label">작성일</span><span th:class="write-value" th:text="${question.getCreatedAt().toString().replace('-','.').substring(0,10)}"></span></p>
        </section>
        <section th:class="question-container">
            <span th:class="qa-icon">Q.</span>
            <section th:class="answer-text">
                <pre th:text="${question.getContent()}"></pre>
            </section>
        </section>
        <section th:class="answer-container">
            <span th:class="qa-icon">A.</span>
                <section th:class="answer-text">
                    <pre th:text="${question.getAnswer().getComment()}"></pre>
                </section>
        </section>
    </section>
    <p id="list-p"><a th:class="list-button"  th:href="@{/qnas}">목록</a></p>
</div>
</html>