<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet"  href="/css/qna/question.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content"  class="content">
    <p class="title">
        Q&A
    </p>
    <form th:action="@{/qna/question}" method="post">
        <div th:class="question-form">
            <section th:class="question-left">

                <p>제목</p>
                <p>문의 내용</p>
            </section>
            <section th:class="question-right">
                <section th:class="question-right-top">
                    <input type="text" placeholder="제목" th:class="text-title" name="title">
                    <textarea rows="10" placeholder="문의 내용을 입력 해 주세요" class="text-area" name="question"></textarea>
                </section>
                <section th:class="question-right-footer">
                    <input th:class="is-secret" id="secret" type="radio" name="radioValue" value="secret" onchange="radioCustom()" checked>
                    <label id="secret-label" for="secret">비밀글</label>
                    <input th:class="is-secret" id="all" type="radio" name="radioValue" value="all" onchange="radioCustom()" >
                    <label id="all-label" for="all">전체 공개</label>
                </section>
            </section>
        </div>
        <div th:class="submit-wrapper">
            <input type="submit">
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        radioCustom()
        function radioCustom(){
            console.log($('.is-secret:checked').attr('value'))
            $('label').css('background-color','#fff')
            $('label').css('color','black')

            switch ($('.is-secret:checked').attr('value')){
                case "all":
                    $('#all-label').css('background-color',"#4282ff")
                    $('#all-label').css('color','#fff')

                    break;
                case "secret":
                    $('#secret-label').css('background-color',"#4282ff")
                    $('#secret-label').css('color','#fff')
                    break;
            }
        }
    </script>

</div>
</html>