<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Cocoon</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>
        .email_ok{color:black; display: none;}
        .email_already{color:#6A82FB; display: none;}
        .company_ok{color:black; display: none;}
        .company_already{color:#6A82FB; display: none;}

    </style>
</head>
<body>


<section>
    <h1>회원가입 페이지</h1>
</section>

<section>
    <div></div>
    <div></div>


    <form name="signUp" th:action="@{/auth/signUp}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />


    </form>
</section>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">


    function checkCompany(){
        var company = $('#company').val();
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");


        $.ajax({
            url:'/auth/companyCheck',
            type:'post',
            data:{company:company},
            beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                xhr.setRequestHeader(header, token);
            },
            success:function(isCompany){ //컨트롤러에서 넘어온 cnt값을 받는다
                if(!isCompany){ //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디

                    $('.company_already').css("display", "none");
                    $('.company_ok').css("display","inline-block");
                } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
                    $('.company_already').css("display","inline-block");
                    $('.company_ok').css("display", "none");
                }
            },
            error:function(){
                alert("에러입니다");
            }
        });
    };
</script>

</body>
</html>