<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Cocoon</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<style>
    .postService{
        padding-top: 10px;
    }
    .postService input{
        margin: 10px;
        margin-left: 0px;
    }
</style>
<body>


<section>
    <h1>회원가입 페이지</h1>
</section>

<section style="display:flex;">

    <form name="signUp" th:action="@{/buy/mat}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <div style="display: block">
            A6<br>
            <input type="number" min="0"><br>
            A5<br>
            <input type="number" min="0"><br>
            A4<br>
            <input type="number" min="0"><br>
        </div>
        <div>
            희망 배송일<br>
            <input type="date" id="hopeDate" min="2022-01-0"><br>
            주문자 이름<br>
            <input type="text" ><br>
            <section class="postService">
                <input type="text" placeholder="우편번호" id="postNumber" min="0">
                <input type="button" value="우편번호 찾기" onclick="postCode()"><br>
                <input type="text" placeholder="주소" id="address" min="0">
                <input type="text" placeholder="상세 주소" id="detailAddress" ><br>
            </section>
        </div>
    </form>
</section>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    let date = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().slice(0, 10);
    $("#hopeDate").prop("min",date);
    function postCode(){
        new daum.Postcode({
            oncomplete: function(data) {
                $("#postNumber").prop("value",data.zonecode);
                $("#address").prop("value",data.address);
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                // 예제를 참고하여 다양한 활용법을 확인해 보세요.
            }
        }).open();

    }

</script>
<script type="text/javascript">


</script>

</body>
</html>