<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="boxWeight" class="modal fade update-mat-modal" id="boxWeightModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="locationModal">박스무게 변경</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" >
            <div class="modal-body">
            <div class="target-container">
                <h5 class="pimcs-bold">변경할 시리얼번호/박스무게</h5>
                <ul class="target-list-container"></ul>
            </div>
            <div class="replace-container">
                <h5 class="pimcs-bold">변경 값</h5>
                <div class="d-flex justify-content-between mt-2">
                    <input type="text" required name="mat.boxWeight" class="pimcs-blue-input"/>
                    <button type="button" style="width: 50px; margin-left: 10px;" class="pimcs-blue-btn text-size-between-middle-samll ml-2 mr-2" onclick="measurementWeight()">측정</button>
                </div> 
                
            </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" onclick="onClickedUpdateBoxWeight()">변경</button>
            </div>
        </form>
      </div>
    </div>
    <script>

        const measurementWeight = (e)=>{
            
            const serialNumber = prompt("매트 시리얼번호", '');
            if(serialNumber == ''){
                alert('매트 시리얼번호를 입력해주세요.');
                return;
            }
            const data = loadGetData({
                url: `/api/devices/${serialNumber}`,
                data:{}
            });
            
            console.log(data);
            if(!data){
                alert("박스를 매트에 올려주세요.");
                return;
            }
            $("input[name='mat.boxWeight']").val(data.inventoryWeight);

        }

        /**
         * 모달 숨겨질때 input 값 초기화
         **/
        $('#boxWeightModal').on('hide.bs.modal', function (e) {
            $("input[name='mat.boxWeight']").val('');

        });
        
        /**
         * 변경 버튼클릭시 
         */
        const onClickedUpdateBoxWeight = function(){
            if($("input[name='mat.boxWeight']").val() == ""){
                alert("매트위치를 입력해주세요.");
                return;
            }

            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");
            let formData = updateMatFormData({
                columnName: "boxWeight",
                replaceValue: $("input[name='mat.boxWeight']").val()
            });

            let queryString = new URLSearchParams(formData).toString();

            let resultData = putRequest({
                url: "/mats",
                data: queryString,
                header: {
                    'header': header,
                    'token': token
                }
            });

            if(resultData != undefined){

                alert(resultData.message);

                let size = $(".show-item-select option:selected").val();
                let page = $("#desktop-pagination").data().twbsPagination.options.startPage;
                location.href=`?page=${page}&size=${size}`;

            }
        }
       
    </script>
</div>
</html>